.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
  }
  .mat-form-field-appearance-legacy .mat-hint
{
  color: red;
}
.mat-form-field-appearance-outline .mat-hint
{
  color: red;
}
.mat-form-field {
  display: block;
  position: relative;
  text-align: left;
}
@media screen and (max-width: 992px) {
    .image{
        height:330px;
        width: 330px;
        margin: auto;
        margin-bottom: 2%;   
    }
        .newBar
        {
            display:none;
        }
}

@media screen and (min-width: 992px) {
    .image{
        height:400px;
        width: 400px;
        margin: auto;
    }

}
.navbar-nav
{
    flex-direction: row;
    background-color: #EEEEEE;
    padding:0px;
}
.navbar-nav li
{
    padding-right:5px;
    padding-left:5px;

}
