<form [formGroup]="bookModelForm"  novalidate style="padding-top:60px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="container">
          <div class="row" *ngFor="let model of Model">
            
            <div class="col-md-3 form-group">
              <img [src]="this.model?.portfolioImageName" style="width: 180px; height: 304px;" />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 mx-auto">
        <input class="form-control required" required placeholder="Mobile Number"  [(ngModel)]="mobileNo" maxlength="10"  style="margin-bottom:5px"
          formControlName="mobileNumber" >
        <div *ngIf="bookModelForm.controls['mobileNumber'].errors
                                                           && !bookModelForm.controls['mobileNumber'].pristine" class="alert alert-danger">
          Enter 10 digit mobile number
        </div>

        <input class="form-control required" required placeholder="Name"  style="margin-bottom:5px"  [(ngModel)]="userName" formControlName="name"
          type="text" >
        <div *ngIf="bookModelForm.controls['name'].errors
                                             && !bookModelForm.controls[ 'name'].pristine" class="alert alert-danger">
          <div [hidden]="!bookModelForm.controls['name'].errors.required">Name is required.</div>
        </div>
        <input class="form-control required" placeholder="Location"  style="margin-bottom:5px"  [(ngModel)]="locat" formControlName="location"
          type="text" >
          <div class="form-group" >
            <div class="textContainer">
              <textarea class="form-control " maxlength="150" placeholder="Quantity Description" style="margin-bottom:5px" rows=3 formControlName="qtyDescription"
                type="text"></textarea>
            </div>
          </div>
          <div class="text-danger">
            <p>Ex: 10 shirts, 10 pants</p>
          </div>

        <div class="form-group "  >
          <div class="textContainer">
            <textarea class="form-control " maxlength="150" placeholder="Product Description" style="margin-bottom:5px" rows=3 formControlName="productDescription"
              type="text"></textarea>
          </div>
        </div>
        <div class="text-danger">
          <p>Ex: shirts, pants</p>
        </div>
        <div class="form-group" style="margin-top:40px;"  *ngFor="let model of Model">
                <input type="text" formControlName ="id" hidden [value]="model._id"  #modelsId>
                <input type="text" formControlName ="modelsname" hidden [value]="model.userName" #modelNm >
                <button class="btn" (click)="bookSubmit(bookModelForm,modelsId.value,modelNm.value)">Book Now</button>
        </div>
      </div>
    </div>
  </div>
</form>