<!--Ecommerce Portfolio-->
<div class="container" style="margin-top: 60px; margin-bottom: 250px;">
    <div class="row">
    <div class="col-md-12" style="padding-bottom:20px;">
      <p class="heading">DIGITAL MARKETING </p>
      <p class="heading">MARKETING THAT IGNITES GROWTH</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe vitae consequatur laboriosam
        explicabo enim dicta sint dolor totam reiciendis, voluptatum, ipsa deserunt animi iusto culpa similique
        possimus adipisci. Et?</p>
    </div>
    <div class="row">
        <div class="col-md-12 homeImage text-center ">
          <h1 class="homeImage">Core Services</h1>
        </div>
        <div class="col-md-6 homeImage">
          <a [routerLink]="['/models']">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image-left"></div>
              </mat-card-header>
              <mat-card-content>
                <h5 class="text-center title services">
                  <a>Test</a>
                </h5>
                <h1 class="text-center">Test</h1>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
        <div class="col-md-6 homeImage">
          <a [routerLink]="['/booking']">
            <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image-center"></div>
              </mat-card-header>
              <mat-card-content>
                <h5 class="text-center title services">
                  <a>Test</a>
                </h5>
                <h1 class="text-center">
              Test
                </h1>
              </mat-card-content>
            </mat-card>
          </a>
        </div>
      </div>
              
            
         
</div>
  </div>
