
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0px;
    justify-content: start;
    background-color: #EEEEEE;
  }
  .menuBtn {
    background-color:lightslategray;
  }
  @media screen and (max-width: 600px) {
    .newBar
    {
        display:none;
    }
    
}
