<footer class="footer" style="padding-bottom:20px;">
  <div class="container border-top border-dark">
    <div class="row footerHead">
      <div class=" col-md-2 col-4">
        <p class="text-secondary"><strong>Company</strong></p>
        <ul class="list-unstyled">
          <li class="font-weight-light"><a [routerLink]="['/aboutUs']">About us</a></li>
          <li class="font-weight-light"><a [routerLink]="['/contact']">Contact</a></li>
          <li class="font-weight-light"><a [routerLink]="['/studio']">Services</a></li>
          <li class="font-weight-light"><a [routerLink]="['/portfolio']">Our Work</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-4">
        <p class="text-secondary"><strong>Booking</strong></p>
        <ul class="list-unstyled">
            <li class="font-weight-light"><a [routerLink]="['/subscribe']">Subscribe</a></li>
          <li class="font-weight-light"><a [routerLink]="['/dashboard/models', 1]">Bookings</a></li>
          <li class="font-weight-light"><a [routerLink]="['/dashboard/bookingstatus', 4]">Booking Status</a></li>
          <li class="font-weight-light"><a [routerLink]="['/dashboard/pricing', 5]">Pricing</a></li>
          <!-- <li class="font-weight-light"><a [routerLink]="['/contact']">Market Place</a></li> -->
        </ul>
      </div>
      <div class="col-md-2 col-4">
        <p class="text-secondary"><strong>Community</strong></p>
        <ul class="list-unstyled">
            <li class="font-weight-light"><a [routerLink]="['/blog']">Blog</a></li>
          <!-- <li class="font-weight-light"><a [routerLink]="['/contact']">Market Place</a></li> -->
        </ul>
      </div>
      <div class="col-md-3 col-6">
        <p class="text-secondary"><strong>Contact</strong></p>
        <ul class="list-unstyled">
          <li class="font-weight-light">+91-9035671333</li>
          <li class="font-weight-light">+91-9035671666</li>
          <li><a href="mailto:rintegeroperations@gmail.com">rintegeroperations@gmail.com</a></li>
        </ul>
      </div>
      <!-- <div class="col-sm-1">
            <p class="text-secondary"><strong>Community</strong></p>
            <ul class="list-unstyled">
              <li class="font-weight-light">Blog</li>
          </ul> 
        </div>-->
      <!-- <div class="col-sm-1">
            <p class="text-secondary"><strong>Support</strong></p>
            <ul class="list-unstyled">
              <li class="font-weight-light"><a  routerLink="/contact">Contact</a></li>
              <li class="font-weight-light">Chat</li>
          </ul>
          </div>   -->
     <!--  <div class="col-sm-1 ">

      </div> -->
      <div class="col-md-3 col-6">
        <a href="https://www.facebook.com/profile.php?id=100010000981104" target="_blank" style="padding-right:3%;"><i class="fa fa-facebook-official fa-2x"
            aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/rinteger/" target="_blank" style="padding-right:3%;"><i class="fa fa-instagram fa-2x"
            aria-hidden="true"></i></a>

        <a href="https://in.pinterest.com/rinteger/" target="_blank" style="padding-right:3%"><i class="fa fa-pinterest  fa-2x" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/u/0/112907421362305810294" target="_blank" style="padding-right:3%"><i class="fa fa-google-plus fa-2x"
            aria-hidden="true"></i></a>
            <a href="https://twitter.com/RintegerS" target="_blank" style="padding-right:3%"><i class="fa fa-twitter fa-2x"
              aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>