<div id ="footer">
<footer class="footer bg-light" style="padding-bottom:20px;">
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <p class="text-secondary"><strong>Address</strong></p>
            <ul class="list-unstyled">
              <li class="font-weight-light">5th Phase, Jarganahalli,</li>
              <li class="font-weight-light">P Nagar Phase 6, JP Nagar, Bengaluru,</li>
                <li class="font-weight-light"> Karnataka 560078</li>
              </ul>
            </div>
        <div class="col-sm-3">
            <p class="text-secondary"><strong>About</strong></p>
                <ul class="list-unstyled">
                  <li class="font-weight-light">About RInteger</li>
                  <li class="font-weight-light">Service</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <p class="text-secondary"><strong>Community</strong></p>
            <ul class="list-unstyled">
              <li class="font-weight-light">Blog</li>
          </ul>
        </div>
        <div class="col-sm-3">
            <p class="text-secondary"><strong>Support</strong></p>
            <ul class="list-unstyled">
              <li class="font-weight-light">Contact</li>
              <li class="font-weight-light">Chat</li>
          </ul>
          </div>  
      </div>
      
              <div class="container-fluid">
                <div class="col-md-12 border-top border-dark">
                  <a href="https://www.facebook.com/" style="padding-right:15px;"><i class="fa fa-facebook-official fa-1x" aria-hidden="true"></i></a>
                  <a href="https://www.instagram.com/?hl=en" style="padding-right:15px;"><i class="fa fa-instagram fa-1x" aria-hidden="true"></i></a>
                  <a href="https://plus.google.com/discover" style="padding-right:15px;"><i class="fa fa-google-plus fa-1x" aria-hidden="true"></i></a>
                  <a href="https://www.whatsapp.com/" style="padding-right:15px;"><i class="fa fa-whatsapp  fa-1x" aria-hidden="true"></i></a>
                  <a href="https://www.skype.com/en/" style="padding-right:15px;"><i class="fa fa-skype fa-1x" aria-hidden="true"></i></a>
            </div>
            
      </div>
    </div>
    </footer>
</div>