<footer class="footer border-top border-dark" style="padding-top:20px; padding-bottom:20px;">
    <div class="container">
    <div class="row">
        <div class=" col-md-4 col">
            <p class="text-secondary"><strong>RInteger</strong></p>
            <ul class="list-unstyled">
              <li class="font-weight-light"><a [routerLink]="['/aboutUs']" >About us</a></li>
              <li class="font-weight-light"><a [routerLink]="['/studio']">Services</a></li>
              <li class="font-weight-light"><a [routerLink]="['/contact']">Contact</a></li>
              </ul>
            </div>
        <div class="col-md-4 col">
            <p class="text-secondary"><strong>Mobile Number</strong></p>
                <ul class="list-unstyled">
                  <li class="font-weight-light">+91-9035671333</li>
                  <li class="font-weight-light">+91-9035671666</li>
                  <li><a href="mailto:rintegeroperations@gmail.com">rintegeroperations@gmail.com</a></li>
            </ul>
        </div>
        <!-- <div class="col-sm-1">
            <p class="text-secondary"><strong>Community</strong></p>
            <ul class="list-unstyled">
              <li class="font-weight-light">Blog</li>
          </ul> 
        </div>-->
        <!-- <div class="col-sm-1">
            <p class="text-secondary"><strong>Support</strong></p>
            <ul class="list-unstyled">
              <li class="font-weight-light"><a  routerLink="/contact">Contact</a></li>
              <li class="font-weight-light">Chat</li>
          </ul>
          </div>   -->
          <div class="col-sm-1 ">

          </div>
          <div class="col-md-3 col-12">
                <a href="https://www.facebook.com/" style="padding-right:25px;"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                <a href="https://www.instagram.com/?hl=en" style="padding-right:25px;"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                
                <a href="https://www.whatsapp.com/" style="padding-right:25px;"><i class="fa fa-whatsapp  fa-2x" aria-hidden="true"></i></a>
                <a href="https://plus.google.com/discover" style="padding-right:20px;"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
          </div>
      </div>
    </div>
    </footer>