<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">


    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <nav class="navbar navbar-expand-lg  border-bottom border-dark">
      <button class="navbar-toggler" type="button" [routerLink]="['/welcome']">
        <mat-icon>home</mat-icon>
      </button>
      <a [routerLink]="['/welcome']" class="navbar-brand">
        <img src="../../../assets/images/logo.jpg">
        <img src="../../../assets/images/logoheader.png">
      </a>
      <div id="navbarNavDropdown" class="navbar-collapse collapse sidebar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/subscribe']" (click)="collapseMenu()">Subscribe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/studio']" (click)="collapseMenu()">Services</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Models
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item"  [routerLink]="['/dashboard/viewschedulemodel', 1]" 
              (click)="selectedDashboardFirst()">Scheduled
                Models </a>
              <a class="dropdown-item"  [routerLink]="['/dashboard/models', 1]"
              (click)="selectedDashboardFirst()">Available Models
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Booking
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/dashboard/viewschedulemodel', 1]"
               (click)="selectedDashboardFirst()">
                Studio & Production</a>
              <a class="dropdown-item" [routerLink]="['/dashboard/registrationSetup', 2]" (click)="selectedDashboardSecond()">Digital-Business-Management</a>
              <a class="dropdown-item" [routerLink]="['/dashboard/itservices', 3]" (click)="selectedDashboardThird()">IT-Services</a>
              <a class="dropdown-item" [routerLink]="['/dashboard/bookingstatus', 4]">Booking Status</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Booking Status
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="'./'" (click)="getActive()">Active Booking</a>
              <a class="dropdown-item" [routerLink]="['/dashboard/completed', 4]"
               (click)="selectedDashboardFourth()">Completed Order</a>
              <a class="dropdown-item" [routerLink]="['/dashboard/cancelled', 4]" (click)="selectedDashboardFourth()">Cancelled
                Booking</a>
              <a class="dropdown-item" [routerLink]="['/dashboard/bookingstatus', 4]" (click)="selectedDashboardFourth()">All Booking</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Our Work
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/creativeportfolio']" (click)="collapseMenu()">Ecommerce
                PortFolio
              </a>
              <a class="dropdown-item" [routerLink]="['/portfolio']" (click)="collapseMenu()">Creative PortFolio</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/pricing', 5]" (click)="selectedDashboardFifth()">Pricing</a>
          </li>

          <li class="nav-item">

            <a class="nav-link" (click)="collapseMenu()" [routerLink]="['contact']">Contact</a>

          </li>



        </ul>
        <!-- <ul class="navbar-nav">
          <li>
            <a class="main-menu" [routerLink]="['/subscribe']"
             (click)="collapseMenu()">Subscribe</a>
          </li>
          <li>
            <a class="main-menu" [routerLink]="['/studio']" 
            (click)="collapseMenu()">Services</a>
          </li>
          <li>
              <button mat-button class="main-menu" #menu3="matMenuTrigger" [matMenuTriggerFor]="menu3">Models</button>
              <mat-menu #menu3>
                <button class="menu-item" [routerLink]="['/dashboard/viewschedulemodel']" mat-menu-item>Scheduled Models</button>
                <button class="menu-item" [routerLink]="['/dashboard/models']" mat-menu-item>Available Models</button>
              </mat-menu>
          </li>
          
          <li>
          
         
            <button  mat-button class="main-menu" #menu="matMenuTrigger" [matMenuTriggerFor]="menu">Booking</button>
            <mat-menu #menu>
               <button class="menu-item" [routerLink]="['viewschedulemodel']" mat-menu-item>Scheuled Model Booking</button>
              <button class="menu-item" [routerLink]="['models']" mat-menu-item>Model Shoot Booking</button>
              <button class="menu-item" [routerLink]="['booking']" mat-menu-item>Product Shoot Booking</button>
              <button class="menu-item" [routerLink]="['creative']" mat-menu-item>Creative Shoot Booking</button>
              <button class="menu-item" [routerLink]="['editing']" mat-menu-item>Image Editing Booking</button>
            
             
              <button class="menu-item" [routerLink]="['registrationSetup']" mat-menu-item>Registration & Setup
                Booking</button>
                <button class="menu-item" [routerLink]="['cataloging']" mat-menu-item>Cataloging / Listing Booking</button>
                <button class="menu-item" [routerLink]="['aplus']" mat-menu-item>A+ Cataloging Booking</button>
                <button class="menu-item" [routerLink]="['digitalmgmt']" mat-menu-item>Account-Management Booking</button>
              <button class="menu-item" [routerLink]="['marketingservices']" mat-menu-item>Marketing Services Booking</button>
            
              <button class="menu-item" [routerLink]="['itservices']" mat-menu-item>IT -Services Booking</button>
            
            </mat-menu>
          </li>
          <li>
              <button mat-button class="main-menu" #menu2="matMenuTrigger" [matMenuTriggerFor]="menu2">Booking Status</button>
              <mat-menu #menu2>
                <button class="menu-item" (click)="getActive()" mat-menu-item>Active Booking</button>
                <button class="menu-item" [routerLink]="['/dashboard/completed']" mat-menu-item>Completed Order</button>
                <button class="menu-item" [routerLink]="['/dashboard/cancelled']" mat-menu-item>Cancelled Order</button>
                <button class="menu-item" [routerLink]="['/dashboard/bookingstatus']" mat-menu-item>All Booking</button>
              </mat-menu>
          </li>
          <li>
            <a class="main-menu" [routerLink]="['/pricing']" 
            (click)="collapseMenu()">Pricing</a>
          </li>
          <li>
              <button mat-button class="main-menu" #menu4="matMenuTrigger" [matMenuTriggerFor]="menu4">Our Work</button>
              <mat-menu #menu4>
                  <button class="menu-item" [routerLink]="['/creativeportfolio']" mat-menu-item>Ecommerce PortFolio</button>
                  <button class="menu-item" [routerLink]="['/portfolio']" mat-menu-item>Creative PortFolio</button>
                </mat-menu>
          </li>
          
         

          <li>
            <a class="main-menu" [routerLink]="['/contact']" (click)="collapseMenu()">Blog</a>
          </li>
          <li>
            <a class="main-menu" [routerLink]="['/contact']" (click)="collapseMenu()">Contact</a>
          </li>
        </ul> -->
      </div>

    </nav>
    <!-- <nav class="navbar navbar-expand-lg  border-bottom border-dark">
        <button class="navbar-toggler" type="button" (click)="collapseMenu()">
            <span class=""><mat-icon>home</mat-icon></span>
          </button>
        <a [routerLink]="['/welcome']" class="navbar-brand">
          <img src="../../../assets/images/logo.jpg"><img src="../../../assets/images/logoheader.png">
        </a>
        
        <div id="navbarNavDropdown" class="navbar-collapse collapse sidebar">
          <ul class="navbar-nav mr-auto">
      
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/subscribe']" (click)="collapseMenu()">Subscribe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/studio']" (click)="collapseMenu()">Services</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Models
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/dashboard/viewschedulemodel']" (click)="collapseMenu()">Scheduled
                  Models </a>
                <a class="dropdown-item" [routerLink]="['/dashboard/models']" (click)="collapseMenu()">Available Models </a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Booking
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/dashboard/viewschedulemodel']" (click)="collapseMenu()">Scheduled
                  Model </a>
                <a class="dropdown-item" [routerLink]="['/dashboard/models']" (click)="collapseMenu()">Model Shoot </a>
                <a class="dropdown-item" [routerLink]="['/dashboard/booking']" (click)="collapseMenu()">Product Shoot</a>
                <a class="dropdown-item" [routerLink]="['/dashboard/bookingstatus']">Booking Status</a>
              </div>
            </li>
      
      
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Booking Status
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="'./'" (click)="getActive()">Active Booking</a>
                <a class="dropdown-item" [routerLink]="['/dashboard/completed']" (click)="collapseMenu()">Completed Order</a>
                <a class="dropdown-item" [routerLink]="['/dashboard/cancelled']" (click)="collapseMenu()">Cancelled Booking</a>
                <a class="dropdown-item" [routerLink]="['/dashboard/bookingstatus']" (click)="collapseMenu()">All Booking</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Our Work
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" [routerLink]="['/creativeportfolio']" (click)="collapseMenu()">Ecommerce PortFolio
                </a>
                <a class="dropdown-item" [routerLink]="['/portfolio']" (click)="collapseMenu()">Creative PortFolio</a>
              </div>
            </li>
      
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/pricing']" (click)="collapseMenu()">Pricing</a>
            </li>
      
            <li class="nav-item">
      
              <a class="nav-link" (click)="collapseMenu()" [routerLink]="['contact']">Contact</a>
      
            </li>
      
      
      
          </ul>
      
        </div>
      </nav> -->
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" openedChange="true">
      <mat-nav-list>
        <!--  <div class="navigation-hold" fxLayout="column">
          <div class="sidenav-hold">
            <ul class="sidenav" *ngFor="let item of menuItems">
              <div class="menu">
                <a matRipple class="nav-item-sep" *ngIf="item.type === 'dashboard'">
                  <mat-accordion>
                    <mat-expansion-panel class="expansion">
                      <mat-expansion-panel-header>
                        <mat-panel-description>
                          Shoot Booking
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ul class="navbar-nav">
                          <li class="nav-item">
                              <a [routerLink]="['viewschedulemodel']"> Scheduled Model </a><br>
                              
                            </li>
                        <li class="nav-item">
                          <a [routerLink]="['models']"> Model shoot </a><br>
                        </li>
                        <li class="nav-item">
                          <a [routerLink]="['booking']"> Product Shoot </a><br>
                        </li>
                        <li class="nav-item ">
                            <a  [routerLink]="['creative']"> Creative Shoot </a><br>
                          </li>
                        <li class="nav-item ">
                          <a  [routerLink]="['editing']"> Image Editing </a><br>
                        </li>
                       
                      </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    </mat-expansion-panel>
                  </mat-accordion>
                </a>
              </div>
              <div class="menu">
                  <a matRipple class="nav-item-sep" *ngIf="item.type === 'dashboard'">
                    <mat-accordion>
                      <mat-expansion-panel class="expansion">
                        <mat-expansion-panel-header>
                          <mat-panel-description>
                           Digital-Business-Mgmt Booking
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul class="navbar-nav">
                            <li class="nav-item ">
                                <a class="pointer" [routerLink]="['registrationSetup']"> Registration & Setup </a><br>
                              </li>
                          <li class="nav-item ">
                            <a class="pointer" [routerLink]="['cataloging']"> Cataloging / Listing </a><br>
                          </li>
                          <li class="nav-item ">
                              <a class="pointer" [routerLink]="['aplus']"> A+ Cataloging </a><br>
                            </li>
                            <li class="nav-item ">
                                <a  class="pointer" [routerLink]="['digitalmgmt']">Account-Management </a><br>
                              </li>
                          <li class="nav-item ">
                            <a class="pointer" [routerLink]="['marketingservices']"> Marketing & Services </a><br>
                          </li>
                        </ul>
                      </mat-expansion-panel>
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      </mat-expansion-panel>
                    </mat-accordion>
                  </a>
                </div>
                <div class="menu">
                    <a matRipple class="nav-item-sep" *ngIf="item.type === 'dashboard'">
                      <mat-accordion>
                        <mat-expansion-panel class="expansion">
                          <mat-expansion-panel-header>
                            <mat-panel-description>
                             IT-Services Booking
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <ul class="navbar-nav">
                            <li class="nav-item ">
                              <a class="pointer" routerLinkActive="routeActive" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['itservices']"> 
                                IT - Services </a><br>
                            </li>
                          </ul>
                         </mat-expansion-panel>
                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        </mat-expansion-panel>
                      </mat-accordion>
                    </a>
                  </div>
              <div class="menu">
                <a matRipple class="nav-item-sep" *ngIf="item.type === 'dashboard'">
                  <mat-accordion>
                    <mat-expansion-panel class="expansion">
                      <mat-expansion-panel-header>
                        <mat-panel-description>
                          Booking Status
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="pointer" (click)="getActive()"> Active Booking </a><br>
                        </li>
                        <li class="nav-item">
                          <a class="pointer" (click)="getCompleted()"> Completed Order</a><br>
                        </li>
                        <li class="nav-item">
                          <a class="pointer" (click)="getCancelled()"> Cancelled Booking</a><br>
                        </li>
                        <li class="nav-item ">
                          <a class="pointer" (click)="getStatus()"> All Booking </a><br>
                        </li>
                      </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    </mat-expansion-panel>
                  </mat-accordion>
                </a>
              </div>
              <div class="menu">
                <a matRipple class="nav-item-sep" *ngIf="item.type === 'dashboard'">
                  <mat-accordion>
                    <mat-expansion-panel class="expansion">
                      <mat-expansion-panel-header>
                        <mat-panel-description>
                          Pricing
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ul class="navbar-nav">
                        <li class="nav-item ">
                          <a class="pointer" (click)="getStatus()"> All </a><br>
                        </li>
                      </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
                    </mat-expansion-panel>
                  </mat-accordion>
                </a>
              </div>
            </ul>
          </div>
        </div> -->
        <mat-list-item (click)="selectedFirst()" class="parent">
          <div *ngIf="isExpanded || isShowing">Shoot Booking</div>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubmenu}" *ngIf="isExpanded || isShowing">keyboard_arrow_right</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubmenu}" *ngIf="showSubmenu">
          <div id="scroll-area" class="navigation-hold" fxLayout="column">
            <div class="sidenav-hold">
              <ul class="navbar-nav">
                <li class="nav-item text-center">
                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
              true}"
                    [routerLink]="['viewschedulemodel', 1]"
                    >
                    Scheduled Model
                  </a>
                </li>
                <li class="nav-item text-center">

                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
              true}"
                    [routerLink]="['models', 1]">
                    Model shoot
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
              true}"
                    [routerLink]="['booking', 1]"
                    
                    >

                    Product Shoot
                  </a>
                </li>
                <li class="nav-item text-center">

                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
              true}"
                    [routerLink]="['creative', 1]">

                    Creative Shoot
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                true}"
                    [routerLink]="['editing', 1]" class="nav-link">

                    Image Editing
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <mat-list-item (click)="selectedSecond()" class="parent">
          <div *ngIf="isExpanded || isShowing">Digital-Business-Mgmt Booking</div>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSecondSubmenu}" *ngIf="isExpanded || isShowing">keyboard_arrow_right</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSecondSubmenu}" *ngIf="showSecondSubmenu">
          <div id="scroll-area" class="navigation-hold" fxLayout="column">
            <div class="sidenav-hold">
              <ul class="navbar-nav">
                <li class="nav-item text-center">
                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                true}"
                    [routerLink]="['registrationSetup', 2]">
                    Registration & Setup
                  </a>
                </li>
                <li class="nav-item text-center">

                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                true}"
                    [routerLink]="['cataloging', 2]">
                    Cataloging / Listing
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                true}"
                    [routerLink]="['aplus', 2]">

                    A+ Cataloging
                  </a>
                </li>
                <li class="nav-item text-center">

                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                true}"
                    [routerLink]="['digitalmgmt', 2]">

                    Account-Management
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                  true}"
                    [routerLink]="['marketingservices', 2]" class="nav-link">

                    Marketing & Services
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <mat-list-item (click)="selectedThird()" class="parent">
          <div *ngIf="isExpanded || isShowing">IT-Services Booking</div>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showThirdSubmenu}" *ngIf="isExpanded || isShowing">keyboard_arrow_right</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showThirdSubmenu}" *ngIf="showThirdSubmenu">
          <div id="scroll-area" class="navigation-hold" fxLayout="column">
            <div class="sidenav-hold">
              <ul class="navbar-nav">
                <li class="nav-item text-center">
                  <a class="nav-link" [routerLinkActive]="['activeLink']" 
                  [routerLinkActiveOptions]="{exact:
                  true}"
                    [routerLink]="['itservices', 3]">
                    IT - Services
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <mat-list-item (click)="selectedFourth()" class="parent">
          <div *ngIf="isExpanded || isShowing">Booking Status</div>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showFourthSubmenu}" *ngIf="isExpanded || isShowing">keyboard_arrow_right</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showFourthSubmenu}" *ngIf="showFourthSubmenu">
          <div id="scroll-area" class="navigation-hold" fxLayout="column">
            <div class="sidenav-hold">
              <ul class="navbar-nav">
                <li class="nav-item text-center">
                  <a class="nav-link" [routerLinkActive]="['activeLink']"
                   [routerLinkActiveOptions]="{exact:
                    true}"
                    [routerLink]= "mobileNo === null ? ['newUser']: ['statusView', 4 , mobileNo]"
                     >
                    Active Booking
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                      true}"
                      [routerLink]="['completed', 4 ]">
                    Completed Order
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link"
                  [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                    true}"
                  [routerLink]="['cancelled', 4 ]">
                    Cancelled Booking
                  </a>
                </li>
                <li class="nav-item text-center">
                  <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                          true}"
                          [routerLink]="['bookingstatus', 4 ]">
                    All Booking
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <mat-list-item (click)="selectedFifth()" class="parent">
            <div *ngIf="isExpanded || isShowing">Pricing</div>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : showFifthSubmenu}" 
            *ngIf="isExpanded || isShowing">keyboard_arrow_right</mat-icon>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : showFifthSubmenu}" *ngIf="showFifthSubmenu">
            <div id="scroll-area" class="navigation-hold" fxLayout="column">
              <div class="sidenav-hold">
                <ul class="navbar-nav">
                  <li class="nav-item text-center">
                    <a class="nav-link" [routerLinkActive]="['activeLink']" [routerLinkActiveOptions]="{exact:
                      true}"
                      [routerLink]="['pricing', 5]"
                       >
                       All
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!--  <app-header></app-header> -->

      <router-outlet></router-outlet>


      <app-footer></app-footer>

    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
