<app-header></app-header>
<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <div class="navigation-hold" fxLayout="column">
          <div class="sidenav-hold">
            <ul class="sidenav" *ngFor="let item of menuItems">
              <div class="menu">
                <a matRipple class="nav-item-sep" *ngIf="item.type === 'dashboard'">
                  <mat-accordion>
                    <mat-expansion-panel class="expansion">
                      <mat-expansion-panel-header>
                        <mat-panel-description>
                          <mat-icon>{{item.icon}}</mat-icon> Booking
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="pointer"> Model shoot </a><br>
                        </li>
                        <li class="nav-item">
                            <a class="pointer" > General Shoot </a><br>
                          </li>
                          <li class="nav-item">
                              <a class="pointer" > Cataloging/ Listing </a><br>
                            </li>
                            <li class="nav-item">
                                <a class="pointer"> Registration & Setup </a><br>
                              </li>
                              <li class="nav-item">
                                  <a class="pointer"> Marketing & Services </a><br>
                                </li>
                      </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    </mat-expansion-panel>
                  </mat-accordion>
                </a>
              </div>
              <div>
                <a matRipple class="nav-item-sep" *ngIf="item.type === 'dashboard'">
                    <mat-accordion>
                      <mat-expansion-panel class="expansion">
                        <mat-expansion-panel-header>
                          <mat-panel-description>
                            <mat-icon>{{item.icon}}</mat-icon> Status
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <ul class="navbar-nav">
                          <li class="nav-item pointer">
                            <a    > Model shoot </a><br>
                          </li>
                          <li class="nav-item pointer">
                              <a  [routerLink]="['/booking']" > General Shoot </a><br>
                            </li>
                            <li class="nav-item pointer">
                                <a [routerLink]="['/cataloging']" > Cataloging/ Listing </a><br>
                              </li>
                              <li class="nav-item pointer">
                                  <a  [routerLink]="['/registrationSetup']"  > Registration & Setup </a><br>
                                </li>
                                <li class="nav-item pointer">
                                    <a [routerLink]="['/marketingservices']"> Marketing & Services </a><br>
                                  </li>
                                  <li class="nav-item pointer">
                                      <a class="pointer"> All </a><br>
                                    </li>
                        </ul>
                      </mat-expansion-panel>
                      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                      </mat-expansion-panel>
                    </mat-accordion>
                    </a>
              </div>
            </ul>
          </div>
        </div>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
</div>