.mat-form-field-appearance-legacy .mat-hint {
  color: red;
}

.mat-form-field-appearance-outline .mat-hint {
  color: red;
}
.sideSubMenu
{
  margin-top: 10px;
  text-align: center !important;
  font-size: 13px;
  font-weight: bolder;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
.mat-form-field {
  display: block;
  position: relative;
  text-align: left;
}
.selectedCataloging
{
  background-color: lightslategray !important;
  color: white;
}
