<!--Ecommerce Portfolio-->
<div class="container" style="margin-top: 60px; margin-bottom: 250px;">
  <div class="row">
    <div class="col-md-4" style="padding-bottom:20px;">
      <div class="col-md-12 ">
        <p class="heading">ECOMMERCE PORTFOLIO</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe vitae consequatur laboriosam
          explicabo enim dicta sint dolor totam reiciendis, voluptatum, ipsa deserunt animi iusto culpa similique
          possimus adipisci. Et?</p>
      </div>
      <div class="col-md-12 ">
        <ul class="newBar">
          <li class="nav-item  sub-heading menu">
            <a class="nav-link" (click)="showOverView()">PORTFOLIO OVERVIEW</a>
          </li>
          <li class="nav-item  sub-heading menu">
            <a class="nav-link" (click)="showSaree()">SAREE</a>
          </li>
          <li class="nav-item  sub-heading menu">
              <a class="nav-link" (click)="showShirt()">SHIRT</a>
            </li>
            <li class="nav-item  sub-heading menu">
                <a class="nav-link" (click)="showBottom()">BOTTOM</a>
              </li>
          <li class="nav-item  sub-heading menu">
            <a class="nav-link" (click)="showInternMen()">INTERNATIONAL MEN </a>
          </li>
          <li class="nav-item  sub-heading menu">
            <a class="nav-link" (click)="showInterWomen()">INTERNATIONAL WOMEN</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 text-center d-md-none d-lg-none">
          <div class="form-group">

            <mat-form-field>
              <mat-select  placeholder="PORTFOLIO" >
                <mat-option value="Overview">
                  <button mat-button (click)="showOverView()">PORTFOLIO OVERVIEW</button>
                </mat-option>
                <mat-option value="Saree">
                  <button mat-button (click)="showSaree()">SAREE</button>
                </mat-option>
                <mat-option value="Bottom">
                    <button mat-button (click)="showBottom()">BOTTOM</button>
                  </mat-option>
                  <mat-option value="Bottom">
                      <button mat-button (click)="showShirt()">SHIRT</button>
                    </mat-option>
                    <mat-option value="Bottom">
                        <button mat-button (click)="showInternMen()">INTERNATIONAL MEN</button>
                      </mat-option>
                      <mat-option value="Bottom">
                          <button mat-button (click)="showInterWomen()">INTERNATIONAL WOMEN</button>
                        </mat-option>
              </mat-select>

            </mat-form-field>
          </div>
        </div><br>
    </div>
    <div class="col-md-8">

      <div class="row">
        <div class="col-md-1">

        </div>
        <div class="col-md-11">
            <div  *ngIf="overview">
                <p class="heading">OVERVIEW</p>
                <div class="row">
                    <div class="col-md-4" *ngFor="let data of modelImages">
                        <img class="image"  mat-card-image   [src]="data" alt="first slide" >
                    </div>
                </div>
              </div>
          <div  *ngIf="saree">
            <p class="heading">SAREE</p>
            <div class="row">
                <div class="col-md-4" *ngFor="let data of modelImages">
                    <img class="image"  mat-card-image   [src]="data" alt="first slide" >
                </div>
            </div>
          </div>
          <div *ngIf="shirt">
              <p class="heading">SHIRT</p>
              <div class="row">
                  <div class="col-md-4" *ngFor="let data of modelImages">
                      <img class="image"  mat-card-image   [src]="data" alt="first slide" >
                  </div>
              </div>

          </div>
          <div *ngIf="bottom">
            <p class="heading">BOTTOM</p>
          </div>

        </div>
      </div>

    </div>

  </div><br>

</div>
