@media screen and (max-width: 992px) {
    .image{
        width: 130px;
        height: 130px;
        float: left;
        padding: 5px;
       
    }
    
}

@media screen and (min-width: 992px) {
    .image{
        height:200px;
        width:200px;
        float:left; 
        padding: 5px;
    }
}
.column{
    float: left;
    width: 50px;
    padding-left: 0%
}
