
<div class="container-fluid"  style = "margin-top: 60px; margin-bottom: 300px;">
    <div class="row">
      <div class="col-md-2" >
          <div class="row">
          <div class="col-md-12 col pb-2">
                  <a  class="nav-tabs btn  btn-block studio text-white active pb-2" [routerLink]="['/models']"  (click)="allModels()">All</a>
                  </div>
                </div>
                            <div class="row">
                                <div class="col-md-12 col pb-2">
                                    <a  class="nav-tabs btn  btn-block studio text-white active" [routerLink]="['/models']"  (click)="interNationalModels()">InterNational</a>
                              </div>
                              <div class="col-md-12  col" >
                                  <a class="nav-tabs btn btn-block studio text-white" (click)="nationalModels()">National</a>
                            </div>
                            </div>
              
      </div>
          <div class="col-md-10 mx-auto" >
            <div class="row">
              <div class="col-md-2 col-sm-2 col">
                  <a class="nav-tabs btn studio text-white"(click)="menModels()">Men</a>
            </div>
            <div class="col-md-2 col-sm-2 col" >
                <a class="nav-tabs btn studio text-white"  (click)="womenModels()">Women</a>
          </div>
          <div class="col-md-2 col-sm-2">
        
          </div>
          <div class="col-md-2 col-sm-2">
        
        </div>
        <div class="col-md-2 col-sm-2">
        
        </div>
        <div class="col-md-2 col-sm-2">
        
        </div>
          </div>
              <form [formGroup]="viewModelForm" novalidate style="padding-top:60px">
                <div class="col" *ngFor="let model of Detail" >
                    <input type="text" hidden [value]="model._id" formControlName="id" #modelId>
                    <a (click)="bookModel(viewModelForm,modelId.value)">
                      <img class="image" [src]="this.model?.portfolioImageName"/>
                    </a>
                  </div>
              </form>
        </div>
      
    </div>
  </div>