@media screen and (max-width: 992px) {
    .image{
        height:330px;
        width: 330px;
        margin: auto;
        margin-bottom: 15px;
    }
    .newBar
    {
        display:none;
    }
    
}

@media screen and (min-width: 992px) {
    .image{
        height:300px;
        width: 300px;
        margin-bottom: 15px;
    }
    

}
.navbar-nav
{
    flex-direction: row;
    background-color: #EEEEEE;
    padding:0px;
}
.navbar-nav li
{
    flex-direction: row;
  /*   padding-right:5px;
    padding-left:5px;
 */
}

.subPrice {
    background-color: lightslategray !important;
    color: white;
  }

  .services li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin-bottom: .5em;
    padding: 0 16px;
  }
.menu {
    flex-direction: row;
    box-sizing:inherit;
    position: relative;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: block;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 29px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
}