<div class="container" style = "margin-top: 10px; margin-bottom: 100px;">
                <div class="container">
                        <h5 class="textTopHeader">SCHEDULED MODELS</h5>
                      </div>
          <div class="row newBar">
                <div class="col-md-12">
                    <ul class="navbar-nav">
                        <li class="menu" *ngFor="let service of services" [class.subPrice]="service === selectedType" (click)="onSelect(service)">
                            
                            <a class="nav-link"> 
                               {{service.name}}</a>
                          </li>
                </ul>         
                    </div> 
          </div>
          <div class="col-md-12 text-center d-md-none d-lg-none">
                <div class="form-group">
                        
                    <mat-form-field>
                        <mat-select [(value)]="selected">
                                  <mat-option value="internationalmen">
                                        <button mat-button (click)="interNationalMenModels()">Men International</button>
                                      </mat-option>
                                      <mat-option value="internationalwomen">
                                            <button mat-button (click)="interNationalWomenModels()">Women International</button>
                                          </mat-option>
                              <mat-option value="nationalmen">
                                    <button mat-button (click)="nationalMenModels()">Men National</button>
                              </mat-option>
                              <mat-option value="nationalwomen">
                                    <button mat-button (click)="nationalWomenModels()">Women National</button>
                              </mat-option>
                              <mat-option value="All">
                                    <button mat-button (click)="allModels()">All</button>
                                 </mat-option>
                            </mat-select> 
                    </mat-form-field>
                    <!-- <div class="textContainer">
                        <select  class="hideLabel form-control" >
                                <option>
                                        <button (click)="allModels()">All</button>
                                </option>
                                
                                        
                        
                            <option>
                                    Men International
                            </option>
                            <option (click)="interNationalWomenModels()">
                                    Women International
                            </option>
                            <option>
                                   <button (click)="nationalMenModels()" > Men National</button>
                            </option>
                            <option (click)="nationalWomenModels()">
                                    <button (click)="nationalWomenModels()"> Women National</button>
                            </option>
                        </select>
                        
                    </div> -->
                     </div> 
                </div>
          <br>
          <div class=row *ngIf="!showMessage">
              <div class="col-md-12">
                      <h4 class="text-center">Click on the Model for Booking</h4>
              </div>
          </div><br>
          <div class=row *ngIf="showMessage">
            <div class="col-md-12">
                    <h4 class="text-center">Currently no models available</h4>
            </div>
        </div>
        <form [formGroup]="viewModelForm" novalidate>
              <div class="row">
              <div class="col-md-4" *ngFor="let model of Detail" >
                        <h5 style="text-align: justify">{{model.userName | uppercase}}</h5>
                        <h5 style="text-align: justify">{{model.scheduledDate | uppercase}}</h5>
                        
                  <input type="text" hidden [value]="model._id" formControlName="id" #modelId>
                  <a (click)="bookModel(viewModelForm,modelId.value)">
                    <mat-card class="example-card image">
                          <img mat-card-image [src]="this.model?.primeImage">       
                  </mat-card>
                  </a>
                  </div>
              </div>
            </form>
        </div>