.selectedRegister
{
  background-color: lightslategray !important;
  color: white;
}

.mat-form-field-appearance-legacy .mat-hint {
  color: red;
}

.mat-form-field-appearance-outline .mat-hint {
  color: red;
}

.mat-form-field {
  display: block;
  position: relative;
  text-align: left;
}
.bookingMasterDiv {
  width: 90%;
  background: white;
  padding-bottom: 10px;
 /*  margin: 10px auto; */
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imageMasterDiv {
  width: 100%;
  background: white;
  padding-bottom: 20px;
  margin: 10px auto;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}