  <form [formGroup]="onBookInForm" (ngSubmit)="bookSubmit(onBookInForm)" novalidate style="padding-top:60px">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="form-group">
                <input class="form-control required" required placeholder="Phone Number" style="margin-bottom:5px" formControlName="phoneNumber" type="text">
                <div *ngIf="onBookInForm.controls['phoneNumber'].errors
                                                 && !onBookInForm.controls['phoneNumber'].pristine" class="alert alert-danger">
                  <div [hidden]="!onBookInForm.controls['phoneNumber'].errors.required">Mobile Number is required.</div>  
                </div>
                  <input class="form-control required" required placeholder="Name" style="margin-bottom:5px" formControlName="name" type="text">
                  <div *ngIf="onBookInForm.controls['name'].errors
                                     && !onBookInForm.controls[ 'name'].pristine" class="alert alert-danger">
                <div [hidden]="!onBookInForm.controls['name'].errors.required">Name is required.</div>
                </div>
                <input class="form-control required" required placeholder="Quality" style="margin-bottom:5px" formControlName="quality" type="text">            
                <input class="form-control required" required placeholder="Product Description" style="margin-bottom:5px" formControlName="productDescription" type="text">
              <input class="form-control required" required placeholder="Quality Description" style="margin-bottom:5px" formControlName="qualityDescription" type="text">
              <input class="form-control required" required placeholder="Type of Shoot" style="margin-bottom:5px" formControlName="typeofShoot" type="text">
              
               <input class="btn btn-primary btn-block" value="Book Now" type="submit" [disabled]='!onBookInForm.valid'>
        </div>
        </div>
      </div>
  </div>
  
  </form>
