<form [formGroup]="statusForm" style="margin-top:60px; margin-bottom:300px" novalidate>
    <div class="container">
            <div class="text-center " style ="padding-bottom:20px" >
                    <h6><strong>CURRENT BOOKING</strong></h6>
                   </div>
            <div class="row">
                    <div class=" col-sm-12 d-flex  flex-row" >
                        <div class=" col-sm-4 col p-2 text-center border"><b>Booking ID</b></div>
                        <div class="col-sm-4 col p-2  text-center border"><b>Booking Date</b></div>
                        <div class="col-sm-4 col p-2  text-center  border"><b>Status</b></div>
                    </div>   
                  </div>
            <div class=" col-sm-12 d-flex border-bottom status flex-row" *ngFor="let data of status">
                    <div class="col-sm-4 col p-2 text-center ">{{data.bookingOrderId}}</div>
                    <div class="col-sm-4 col p-2 text-center">{{data.bookingDate}}</div>
                    <div class=" col-sm-4 col p-2 text-center" > <input class="form-control"   hidden type="text" formControlName="order" [value]="data._id" #id/>
                      <button class="btn btn-success btn-sm " (click)="statusView()">View</button>
                </div>
              </div> 
              
        
    <div   *ngIf="displayStatus" style="margin-top:40px">
            <div class="text-center" style="padding-bottom:20px" *ngIf="hideStatus">
                    <h6><strong>ORDER LIFE CYCLE</strong></h6>
                  </div>
            
        <div class="row">
          <div class="offset-md-2 col-md-4 col"> 
            <p> Material Pick Up Status</p>
        </div>
          <div class="col-md-6 col" *ngIf = "materialPicked">
              <button class="btn btn-danger  btn-sm" >Not completed</button>
          </div>
          <div class="col-md-6 col" *ngIf = "materialPickedTrue">
              <button class="btn btn-success  btn-sm" > completed</button>
        </div>
        </div> 
    
        <div class="row">
            <div class="offset-md-2 col-md-4 col">
              <p>PhotoShoot Status </p>
            </div>
          <div class="col-md-6 col" *ngIf = "shootCompleted">
              <button class="btn btn-danger  btn-sm" >Not completed</button>
          </div>
          <div class="col-md-6 col" *ngIf ="shootCompletedTrue">
              <button class="btn btn-success  btn-sm" > completed</button>
          </div>
        </div>
    
        <div class="row">
            <div class="offset-md-2 col-md-4 col">
          <p>Image Editing Status</p>
          </div>
          <div class="col-md-6 col" *ngIf = "imageEditing">
              <button class="btn btn-danger btn-sm" >Not completed</button>
          </div>
    
          <div class="col-md-6 col" *ngIf = "imageEditingTrue">
              <button class="btn btn-success  btn-sm" > completed</button>
          </div>
        </div>
      
      <div class="row">
          <div class="offset-md-2 col-md-4 col">
          <p>Image Delivery Status</p>
          </div>
          <div class="col-md-6 col" *ngIf = "delivery">
              <button class="btn btn-danger  btn-sm" >Not completed</button>
          </div>
    
          <div class="col-md-6 col" *ngIf = "deliveryTrue">
              <button class="btn btn-success  btn-sm" > completed</button>
          </div>
        </div>
    
        <div class="row">
            <div class="offset-md-2 col-md-4 col">
            <p>Payment Status</p>
            </div>
            <div class="col-md-6 col" *ngIf = "payment">
                <button class="btn btn-danger  btn-sm" >Not completed</button>
            </div>
    
            <div class="col-md-6 col" *ngIf = "paymentTrue">
                <button class="btn btn-success btn-sm" > completed</button>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 col-md-4 col">
              <p>Material Return Status</p>
            </div>
              <div class="col-md-6 col" *ngIf = "materialReturn">
                  <button class="btn btn-danger btn-sm" >Not completed</button>
              </div>
    
              <div class="col-md-6 col" *ngIf = "materialReturnTrue">
                  <button class="btn btn-success  btn-sm" >completed</button>
              </div>
            </div>
            <button class="btn" [routerLink]="['/welcome']" >back</button> 
    </div>
    
    </div>
    </form>
    