<form [formGroup]="statusForm" style="margin-top:60px; margin-bottom:300px" novalidate>
    <div class="container">
            <div class="row">
                    <div class=" col-sm-12 d-flex  flex-row" >
                        <div class=" col-sm-4 col p-2 border"><b>Booking ID</b></div>
                        <div class="col-sm-4 col p-2 border"><b>Booking Date</b></div>
                        <div class="col-sm-4 col p-2 border"><b>Status</b></div>
                    </div>   
                  </div>
            <div class=" col-sm-12 d-flex  flex-row" *ngFor="let data of status">
                    <div class="col-sm-4 col p-2 text-center ">{{data.bookingOrderId}}</div>
                    <div class="col-sm-4 col p-2 text-center">{{data.bookingDate}}</div>
                    <div class=" col-sm-4 col p-2"> <input class="form-control"   hidden type="text" formControlName="order" [value]="data._id" #id/>
                      <button class="btn btn-success btn-sm" (click)="statusView()">View</button>
                </div>
              </div> 
        
    <div   *ngIf="displayStatus">
        <div class="row">
          <div class="offset-md-2 col-md-4 col">
            <p> Material Picked Up</p>
        </div>
          <div class="col-md-6 col" *ngIf = "materialPicked">
              <button class="btn btn-danger  btn-sm" >Not completed</button>
          </div>
          <div class="col-md-6 col" *ngIf = "materialPickedTrue">
              <button class="btn btn-success  btn-sm" > completed</button>
        </div>
        </div> 
    
        <div class="row">
            <div class="offset-md-2 col-md-4 col">
              <p>Shoot Completed </p>
            </div>
          <div class="col-md-6 col" *ngIf = "shootCompleted">
              <button class="btn btn-danger  btn-sm" >Not completed</button>
          </div>
          <div class="col-md-6 col" *ngIf ="shootCompletedTrue">
              <button class="btn btn-success  btn-sm" > completed</button>
          </div>
        </div>
    
        <div class="row">
            <div class="offset-md-2 col-md-4 col">
          <p>Image Editing</p>
          </div>
          <div class="col-md-6 col" *ngIf = "imageEditing">
              <button class="btn btn-danger btn-sm" >Not completed</button>
          </div>
    
          <div class="col-md-6 col" *ngIf = "imageEditingTrue">
              <button class="btn btn-success  btn-sm" > completed</button>
          </div>
        </div>
      
      <div class="row">
          <div class="offset-md-2 col-md-4 col">
          <p>Delivery</p>
          </div>
          <div class="col-md-6 col" *ngIf = "delivery">
              <button class="btn btn-danger  btn-sm" >Not completed</button>
          </div>
    
          <div class="col-md-6 col" *ngIf = "deliveryTrue">
              <button class="btn btn-success  btn-sm" > completed</button>
          </div>
        </div>
    
        <div class="row">
            <div class="offset-md-2 col-md-4 col">
            <p>Payment</p>
            </div>
            <div class="col-md-6 col" *ngIf = "payment">
                <button class="btn btn-danger  btn-sm" >Not completed</button>
            </div>
    
            <div class="col-md-6 col" *ngIf = "paymentTrue">
                <button class="btn btn-success btn-sm" > completed</button>
            </div>
          </div>
          <div class="row">
            <div class="offset-md-2 col-md-4 col">
              <p>MaterialReturn</p>
            </div>
              <div class="col-md-6 col" *ngIf = "materialReturn">
                  <button class="btn btn-danger btn-sm" >Not completed</button>
              </div>
    
              <div class="col-md-6 col" *ngIf = "materialReturnTrue">
                  <button class="btn btn-success  btn-sm" >completed</button>
              </div>
            </div>
    </div>
    </div>
    </form>
    