    .selected {
    background-color: #37a000 !important;
    color: white;
  }
  .services {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .services li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin-bottom: .5em;
    padding: 2em;
  }
  
  .fullServices
  {
    height: 100%;
    widows: 100%;
    margin-bottom: 20%;
  }
  .fullServices p
  {
    margin-bottom: 1rem;
    line-height: 2em;
  }
  .fullServices ol li
  {
    margin-bottom: 1rem;
    line-height: 2em;
  }
  .fullServices h6
  {
    margin-bottom: 1rem;
    line-height: 2em;
  }