

<div class="container"  style = "margin-top: 20px">
  <div class="row navbar newBar">
        <div class="nav-item">
            <a class="nav-link"><button mat-button (click)="onHiden()">Ecommerce Studio</button></a>
        </div>
        <div class="nav-item">
            <a class="nav-link"><button mat-button (click)="onFashion()">Fashion Studio</button></a>    
        </div>
    <div class="nav-item">
      <a class="nav-link"><button mat-button (click)="onCreate()">Creative Studio</button></a>
    </div>
    <div class="nav-item">
        <a class="nav-link"><button mat-button (click)="onShoot()">Shoot Cycle</button></a>
    </div>
  </div>
<div class="col-md-12 text-center d-md-none d-lg-none">
    <div class="form-group">
            <mat-form-field>
                <mat-select [(value)]="selected">
                <mat-option value="Ecommerce Studio">
                    <button mat-button (click)="onHiden()">Ecommerce Studio</button>
                  </mat-option>
                      <mat-option value="Creative Studio">
                          <button mat-button (click)="onFashion()">Creative Studio</button>
                          </mat-option>
                          <mat-option value="Creative Studio">
                              <button mat-button (click)="onCreate()">Creative Studio</button>
                              </mat-option>
                  <mat-option value="Shoot Cycle">
                      <button mat-button (click)="onShoot()">Shoot Cycle</button>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div> 

        </div>
<div class="row" style="padding-top: 40px;">
      <div class="col-md-12">
        <div *ngIf="hideEcommerce">
            <h5 class="text-center">Ecommerce Studio</h5>
          <h6 class="text-center">Ecommerce product model photographers Studio Service in Bangalore</h6>
          <p>Unique designs and creations are displayed to the customers with more value using creative shoot services. Adding more visual and content to a product outdoor shoots, adding creative background , adding additional information for product image, showcase a product design with detailed shoots etc are extensively developed in Ripsil creative studios.</p>
          <p>Brand lunch , Product launch,Category lunch , Event contents, Social contents, Digital Contents, etc required for a business is supported with both Photography and Videography services under Ripsil Creative studios. </p>
          <p>The creative team prepares the required concepts, storyboards, designs, themes, visuals etc required for a corresponding service. Speaking images and Understandable product contents are created under Ripsil Creative studio.</p>
          <p>The approach and methodology followed by the team to understand the requirement and to generate the desired and imaginary results are the best part of our creative team.</p>
          <p>Rinteger Creative content team is focused towards preparing product content, brand content and sales related content for all business verticals. Contents forms the presentation face of a product with respect to customer and understanding the above Ripsil Creative studio delivers the right content form for the right business mediums. Business mediums could be for branding, marketing , sales or even brand recall, we are committed to deliver the right medium of content for the corresponding business mediums.</p>
          <p class="text-secondary"> Rinteger Creative Studio provides the following content creation services</p>
          <ol>
            <li>Logo Creation</li>
            <li>Brochure Content Creation</li>
            <li>Catalog Book Content Creation</li>
            <li>Banner and Poster Content</li>
            <li>Lookbook Content Preparation</li>
            <li>Hoarding Content Preparation</li>
            <li>Brand Launch videos</li>
            <li>Product Launch videos</li>
            <li>Product explanatory videos and more</li>
          </ol>
        </div>
          <div  *ngIf="hideFashion">
              <h5 class="text-center">Fashion Studio</h5>
            <h6 class="text-center">Fashion product model photographers Studio Service in Bangalore</h6>
            <p>Ripsil Fashion studio is designed to keep the uptrend of the growing Fashion industry and its changing dynamic requirement. Fast Fashion and good number of designers have brought more dynamism to fashion industry. Fashion shoots engage more elegance, boldness, expression and elements are added to the product along with the model. The model is educated to carry the product to demonstrate the purpose and carry the mood based on the design , color and the occasion.</p>
            <p>Production outcome based on the concept being developed on the product is the core mantra of Fashion studio. Both photography and videography works are carried out at Ripsil Fashion studio.</p>
            <p>Ripsil Fashion studio work on all season product categories of men, women and kids. Ethnics wear, Fusion wear, Indo western wear, Western wear  etc are choreographed by exclusive stylist. Ripsil fashion team has inhouse makeup and hair styling artist who understand the material content and design and produce the right kind makeup for the models.</p>
            <p>The inhouse drapers are well equipped to understand the requirement of Saree draping and the features of the Sarees. The pallu , patli , blouse designs, heavy stone works, embroidery and other efforts on the Sarees are highlighted during draping and shoot. The understanding for draping for different purposes and platforms are key strength of Ripsil fashion studio. </p>
          </div>
          
          <div *ngIf="hideCreate">
              <h5 class="text-center">Creative Studio</h5>
              <h6 class="text-center">Creative product model photographers Studio Service in Bangalore</h6>
              <p>Unique designs and creations are displayed to the customers with more value using creative shoot services. Adding more visual and content to a product outdoor shoots, adding creative background , adding additional information for product image, showcase a product design with detailed shoots etc are extensively developed in Ripsil creative studios.</p>
              <p>Brand lunch , Product launch,Category lunch , Event contents, Social contents, Digital Contents, etc required for a business is supported with both Photography and Videography services under Ripsil Creative studios. </p>
              <p>The creative team prepares the required concepts, storyboards, designs, themes, visuals etc required for a corresponding service. Speaking images and Understandable product contents are created under Ripsil Creative studio.</p>
              <p>The approach and methodology followed by the team to understand the requirement and to generate the desired and imaginary results are the best part of our creative team.</p>
              <p>Ripsil Creative content team is focused towards preparing product content, brand content and sales related content for all business verticals. Contents forms the presentation face of a product with respect to customer and understanding the above Ripsil Creative studio delivers the right content form for the right business mediums. Business mediums could be for branding, marketing , sales or even brand recall, we are committed to deliver the right medium of content for the corresponding business mediums.</p>
              <p class="text-secondary">Ripsil Creative Studio provides the following content creation services</p>
              <ol>
                <li>Logo Creation</li>
                <li>Brochure Content Creation</li>
                <li>Catalog Book Content Creation</li>
                <li>Banner and Poster Content</li>
                <li>Lookbook Content Preparation</li>
                <li>Hoarding Content Preparation</li>
                <li>Brand Launch videos</li>
                <li>Product Launch videos</li>
                <li>Product explanatory videos and more</li>
              </ol>
              
            </div> 
            <div *ngIf="hideShoot">
                <h5 class="text-center">Shoot Cycle</h5>
                <h6 class="text-center">RInteger Shoot Cycle</h6>
                <ol>
                  <li>Confirm the order</li>
                  <li>Pickup the product</li>
                  <li>Shoot Execution</li>
                  <li>Image Editing</li>
                  <li>Image Delivery</li>
                  <li>Payment Completion</li>
                  <li>Dispatch the product</li>
                  <li>Feedback</li>
                  <li>Order closed</li>
                </ol>
              </div>
              
            </div>    
          
              
              
            </div>
          </div>