  .selected {
    background-color:rgb(161, 180, 238) !important;
    color: white;
  }
  .subSelected
  {
    background-color:lightslategray !important;
    color: white;
  }
  .digitalSubSelected
  {
    background-color:lightslategray !important;
    color: white;
  }
  .itSubSelected
  {
    background-color:lightslategray !important;
    color: white;
  }
  .services {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .services li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin-bottom: .5em;
  }

  .headerService li {
    cursor: pointer;
    background-color: #DDD;
    margin-right: .4em;
    float: left;
    list-style: none;
    padding: 5px;
  }
  .headerService
  {
    margin: 1px;
  }
  
  .fullServices
  {
    height: 100%;
    width: 100%;
    margin-bottom: 20%;
  }
  .fullServices p
  {
    margin-bottom: 1rem;
    line-height: 2em;
  }
  .fullServices ol li
  {
    margin-bottom: 1rem;
    line-height: 2em;
  }
  .fullServices h6
  {
    margin-bottom: 1rem;
    line-height: 2em;
  }
  .sideMenu {
    margin-top: 10px;
    text-align: center !important;
    font-size: 13px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding:0px;
  justify-content: start;
  background-color: #EEEEEE;
}
.menuBtn {
  background-color:lightslategray;
}