<div class="container" style="margin-top: 20px">
  <div class="col-md-12 text-center d-md-none d-lg-none">
    <div class="form-group">
      <mat-form-field>
        <mat-select [(ngModel)]="selectedValue">
          <mat-option  *ngFor="let service of services; let i =index"
           (onSelectionChange)="onSelect(service)" 
           [value]="service"
           >
            {{service.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row fullServices">
    <div class="col-md-4 display-small-none">
        <h3 class="textSecondHeader">SERVICES</h3>
        <ul class="services">
          <li *ngFor="let service of services"
            [class.selected]="service === selectedHero"
            (click)="onSelect(service)" class="smallImageText">
             {{service.name}}
          </li>
        </ul>
    </div>
    <div class="col-md-8 col-12">
      <div *ngIf="hideEcommerce">
        <h5 class="text-center textSecondHeader">ECOMMERCE PRODUCTION - PHOTO & VIDEO</h5>
        <h6 class="text-center text-muted smallImageText">Ecommerce product and model photography and videography Studio Service in Bangalore.</h6>
        <p>RInteger Ecommerce productions objective is to create different products digital copy through photography
          and videography. The converted digital forms are used across different marketplaces like Amazon, Flipkart,
          PayTM, Snapdeal, Myntra, Jabong, Voonik and more. RInteger Ecommerce Studio understands the marketplace
          standards and ensures that the production objectives are met according to customer requirements based on the
          marketplace.
        </p>
        <p>Imaging standards for different marketplace is well understood by the production team to produce the ideal
          result for smooth image approval across different portals.
        </p>
        <p>RInteger Ecommerce Studio uses live national and international models to based on the product and customers
          requirement. RInteger also do table top , mannequin, ghost mannequin shoots.</p>
        <p>At RInteger Ecommerce Studio we do photography and videography of almost all the products. In case of large
          size products we also provide client location shoot.
        </p>

      </div>
      <div *ngIf="hideCreative">
        <h5 class="text-center textSecondHeader">CREATIVE PRODUCTION - PHOTO & VIDEO</h5>
        <h6 class="text-center text-muted smallImageText">Creative product and model photography and videography studio services in bangalore
        </h6>
        <p>Unique designs and creations are displayed to the customers with more value using creative shoot services.
          Adding more visual content to a product through outdoor shoots, adding creative background , adding
          additional information for product image, showcase a product design with detailed shoots etc are extensively
          developed in RInteger creative studios. </p>
        <p>Brand launch , Product launch,Category launch , Event contents, Social contents, Digital Contents, etc
          required for a business is supported with both Photography and Videography services under Ripsil Creative
          studios.
        </p>
        <p>The creative team prepares the required concepts, storyboards, designs, themes, visuals etc required for a
          corresponding service. Speaking images and Understandable product contents are created under Ripsil Creative
          studio.
        </p>
        <p>The approach and methodology followed by the team to understand the requirement and to generate the desired
          and imaginary results are the best part of our creative team.
        </p>
        <p>RInteger Creative content team is focused towards preparing product content, brand content and sales related
          content for all business verticals. Contents forms the presentation face of a product with respect to
          customer and understanding the above Rinteger Creative studio delivers the right content form for the right
          business mediums.
        </p>
        <p>Business mediums could be for branding, marketing , sales or even brand recall, we are committed to deliver
          the right medium of content for the corresponding business mediums.
        </p>
        <p>
          RInteger Creative Studio provides the following content creation services

        </p>
        <ol>
          <li>Logo Creation </li>
          <li>Brochure Content Creation
            </li>
          <li>Catalog Book Content Creation</li>
          <li>Banner and Poster Content
            </li>
          <li>Lookbook Content Preparation</li>
          <li>Hoarding Content Preparation</li>
          <li>Brand Launch videos
            </li>
          <li>Product Launch videos</li>
          <li>Product explanatory videos and more
            </li>
        </ol>
      </div>

      <div *ngIf="hidePreProduction ">
        <h5 class="text-center textSecondHeader">PRE PRODUCTION</h5>
        <h6 class="text-center text-muted smallImageText">Model Agency , Studio setup ,  product and model photography and videography pre production  services in bangalore
          </h6>
        <p>Rinteger pre production unit organizes the entire resources required for both Ecommerce shoot and Creative Shoot, be it either indoor shoot or outdoor shoot. The team is well connected with multiple model agencies across the country to work with leading international and national models and artist. Leading photographers , stylist, art directors, makeup artist can also be engaged based on the requirement of the shoot. 
          </p>

      </div>
      <div *ngIf="hidePostProduction">
        <h5 class="text-center textSecondHeader">POST PRODUCTION</h5>
        <h6 class="text-center text-muted smallImageText">Photo Editing Services, Photo Enhancement services, Video Editing Services , Ecommerce photo editing, White background Image Editing, Image Background Removal 
          </h6>
        <p>Rinteger post production team has indeed strong experience across image and video post production work for different domains. Image editing services from background removal to image enhancement is done under rinteger editing services. 

          </p>
      </div>
      <div *ngIf="hideStudio">
          <h5 class="text-center textSecondHeader">STUDIO</h5>
          <h6 class="text-center text-muted smallImageText">Studio rental in Bangalore, Ecommerce Studio Rental in Bangalore, Studio Rental with Equipments, Studio Rental with accessories, Accessories for model shoot, Shoot Props

            </h6>
          <p>RInteger Studio is located at JP Nagar Bangalore, and the studio is equipped with accessories, backdrop, equipments required for photoshoot and video shoot. The studio is around 1500 Sq feet space and is available for 24/7 across the calendar year. 
            </p>
        </div>
    </div>



  </div>
</div>