<form style="padding-top:2%">
  <div class="container">
      <div *ngIf="nextNoData" class="alert alert-danger">
          No Image Available
        </div>      
    <div *ngFor="let data of ourWorkModel">
      <div *ngFor="let test of data.mainCategory">
        <div *ngFor="let mainImage of test.category; let i=index">
          <div class="row"  *ngIf="mainImage._id === this.subid">
            <div class="col-md-12 rowStyle navbar-expand-lg">
              <div class="row p-2">
                <div class="col-md-4 col">
                    <button  class="btn selSubMenu"
                     (click)="backView(test.category[i-1]?._id)">back</button>
                </div>
                <div class="col-md-4 col">
                    <h5>{{mainImage.categoryName}}</h5>
                </div>
                <div class="col-md-4 col">
                    <button  class="btn selSubMenu float-right" 
                    (click)="nextView(test.category[i+1]?._id )">Next</button>
                </div>
              </div> 
            </div>
            <div class="col-md-3  col-6" *ngFor="let subImage of mainImage.images;">
              <div class="gridRow">
                <a (click)="confirm(data, subImage)"><img class="img-fluid" 
                  [src]="this.imageUrl+ '/'+ data.categoryName +'/'+ test.mainCategoryName +'/'+ mainImage.categoryName +'/' + subImage"></a>
              </div>
            </div>
          </div>

        </div> 
      </div>
    </div>
  </div>
</form>