<form style="padding-top:2%">
  <div class="container-fluid">
    <div class="row d-md-none d-lg-none">
      <!-- <div class="col-sm-12">
        <mat-form-field>
          <mat-select [(value)]="services[0].name" (selectionChange)="selectOption($event.value)">
            <mat-option *ngFor="let test of services" [value]="test.name">
              {{test.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>
    <div *ngFor="let data of ourWorkModel">
      <!-- <div class="navbar rowStyle navbar-expand-lg display-small-none">
        <ul class="navbar-nav  mr-auto">
          <li class="nav-item" *ngFor="let test of data.mainCategory" [class.selSubMenu]="test === selectedSubMenu"
            (click)="onSelectView(test)">
            <a class="nav-link text-center">{{test.mainCategoryName}}</a>
          </li>
        </ul>
      </div> -->
      <div *ngFor="let test of data.mainCategory">
        <div *ngFor="let mainImage of test.category;">
          <div class="row"  *ngIf="mainImage._id === this.subid">
            <div class="text-center col-md-12 rowStyle navbar-expand-lg display-small-none">
                <h5 class="p-2">{{mainImage.categoryName}}</h5>
              </div>
            <div class="col-md-3" *ngFor="let subImage of mainImage.images;">
              <div class="gridRow">
                <a>
                  <img class="img-fluid" [src]="this.imageUrl + data.categoryName +'/'+ test.mainCategoryName +'/'+ mainImage.categoryName +'/' + subImage"></a>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <button style="margin:20px;" class="btn" (click)="backView()">back</button>
        </div>
      </div>
    </div>
  </div>
</form>