<form [formGroup]="statusViewForm" style="padding-top:60px"  novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12  mx-auto">

        <div class="row">
          <div class="col-md-3 form-group">
            <p>Booking ID </p>
          </div>

          <div class="col-md-3 form-group">
            <p>Booking Date </p>
          </div>

          <div class="col-md-3 form-group">
            <p>Status </p>
          </div>

          <div class="col-md-3 form-group">
            <p>Order </p>
          </div>
        </div>

        <div class="row" *ngFor="let data of Status">
          <div class="col-md-3 form-group">
            <p>{{data._id}} </p>
          </div>

          <div class="col-md-3 form-group">
            <p>{{data.bookingDate}} </p>
          </div>

          <div class="col-md-3 form-group">
            <button class="btn btn-success pull-right" (click)="statusView(statusViewForm,id.value)">View</button>

          </div>
          <div class="col-md-3 form-group">
            <p>{{data.order}} </p>
          </div>
          <input class="form-control"  hidden type="text" formControlName="order" [value]="data._id" #id/>
 <!-- <div class="col-md-2 form-group" *ngIf="progress">
            <button class="btn btn-danger pull-right">progress</button>
          </div>



          <div class="col-md-1 form-group" *ngIf="completed">
            <button class="btn btn-success pull-right">Completed</button>
          </div> -->
        </div> 

        <div *ngIf="displayStatus">
          <div class="row">
            <div class="col-md-4">
              <p> Material Picked Up</p>
            </div>
            <div class="col-md-8" *ngIf="materialPicked">
              <button class="btn btn-danger pull-right">Not completed</button>
            </div>
            <div class="col-md-8" *ngIf="materialPickedTrue">
              <button class="btn btn-success pull-right"> completed</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p>Shoot Completed </p>
            </div>
            <div class="col-md-8" *ngIf="shootCompleted">
              <button class="btn btn-danger pull-right">Not completed</button>
            </div>
            <div class="col-md-8" *ngIf="shootCompletedTrue">
              <button class="btn btn-success pull-right"> completed</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p>Image Editing</p>
            </div>
            <div class="col-md-8" *ngIf="imageEditing">
              <button class="btn btn-danger pull-right">Not completed</button>
            </div>

            <div class="col-md-8" *ngIf="imageEditingTrue">
              <button class="btn btn-success pull-right"> completed</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p>Delivery</p>
            </div>
            <div class="col-md-8" *ngIf="delivery">
              <button class="btn btn-danger pull-right">Not completed</button>
            </div>

            <div class="col-md-8" *ngIf="deliveryTrue">
              <button class="btn btn-success pull-right"> completed</button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p>Payment</p>
            </div>
            <div class="col-md-8" *ngIf="payment">
              <button class="btn btn-danger pull-right">Not completed</button>
            </div>

            <div class="col-md-8" *ngIf="paymentTrue">
              <button class="btn btn-success pull-right"> completed</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <p>MaterialReturn</p>
            </div>
            <div class="col-md-8" *ngIf="materialReturn">
              <button class="btn btn-danger pull-right">Not completed</button>
            </div>

            <div class="col-md-8" *ngIf="materialReturnTrue">
              <button class="btn btn-success pull-right"> completed</button>
            </div>
            
          </div>

        </div>

        <a  [routerLink]="['/welcome']">Back</a>
      </div>
    </div>
  </div>
</form>
