<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 ">
      <!--  <slideshow [height]="'350px'" width="100%"
        [minHeight]="'150px'"
        [autoPlay]="true"
        [showArrows]="true"
        [imageUrls]="imageSources"
        [lazyLoad]="imageSources?.length > 1"
        [autoPlayWaitForLazyLoad]="true" [showDots]="true" [dotColor]="'black'"  >
</slideshow> -->
      <img class="img-fluid" src="../../../assets/images/B2.jpg">

      <!--  <carousel class="carousel-images" [showIndicators]="false" style="height:150px;">
        <slide>
          <img  class="banners" src="../../../assets/images/" alt="first slide" width="100%" >
        </slide>
        <slide>
          <img class="banners" src="../../../assets/images/Banner-1.jpg" alt="second slide" width="100%">
        </slide>
        <slide>
          <img class="banners" src="../../../assets/images/Banner-3.jpg" alt="third slide" width="100%">
        </slide>
      </carousel> -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img class="img-fluid" src="../../../assets/images/strip1.jpg">
    </div>
    <!-- <div class="col-md-4 homeImage">
      <a [routerLink]="['/dashboard/models']">
        <div class="example-content-studio"></div>
      </a>
    </div>
    <div class="col-md-4 homeImage">
      <a [routerLink]="['/dashboard/booking']">
        <div class="example-content-dbs"></div>
      </a>
    </div>
    <div class="col-md-4 homeImage">
      <a [routerLink]="['/dashboard/itservices']">
        <div class="example-content-it"></div>
      </a>
    </div> -->
  </div>
  <div class="row">
    <div class="col-md-4 border-right" style="min-height: 301px;">
        <h4 class="text-center">Studio & Production</h4>
        <p class="text-center">Sample text</p>
        <div class="row">
            <div class="col-md-1">
  
              </div>
          <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
          border-radius: 2px;" (mouseover)="changeBannerText1=false" (mouseout)="changeBannerText1=true">
          <div *ngIf="!changeBannerText1" class="text-center">
            <p>Select the Model </p>
              <a [routerLink]="['/dashboard/registrationSetup']" class="text-center" style="color: green;" >Book Now</a>
         </div>
          <div *ngIf="changeBannerText1" class="text-center"> 
              <a [routerLink]="['/dashboard/registrationSetup']" class="text-center" >
                <img class="img-center" src="../../../assets/images/scheduled_booking.jpg">
                <span>&nbsp;</span>
                <label> Scheduled Model</label>
              </a>
            </div>
        
          </div>
          <div class="col-md-2">
  
          </div>
          <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
          border-radius: 2px;" (mouseover)="changeBannerText2=false" (mouseout)="changeBannerText2=true">
          <div *ngIf="!changeBannerText2" class="text-center">
            <p>Select the Model </p>
              <a [routerLink]="['/dashboard/cataloging']" class="text-center" style="color: green;" >Book Now</a>
         </div>
         <div *ngIf="changeBannerText2" class="text-center"> 
          <a [routerLink]="['/dashboard/cataloging']" class="text-center">
            <img  class="img-center" src="../../../assets/images/model shoot booking.jpg">
            <span>&nbsp;</span>
            <label>Model</label>
          </a>
        </div>
          
          </div>
          <div class="col-md-1">
  
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
  
              </div>
          <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
          border-radius: 2px;" (mouseover)="changeBannerText3=false" (mouseout)="changeBannerText3=true">
          <div *ngIf="!changeBannerText3" class="text-center">
            <p>Select the Model </p>
              <a [routerLink]="['/dashboard/aplus']" class="text-center" style="color: green;" >Book Now</a>
         </div>
         <div *ngIf="changeBannerText3" class="text-center"> 
          <a [routerLink]="['/dashboard/aplus']" class="text-center">
            <img class="img-center" src="../../../assets/images/product shoot booking.jpg">
            <span>&nbsp;</span>
            <label> Product Shoot</label>
          </a>
        </div>
         
          </div>
          <div class="col-md-2">
  
          </div>
          <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
          border-radius: 2px;" (mouseover)="changeBannerText4=false" (mouseout)="changeBannerText4=true">
          <div *ngIf="!changeBannerText4" class="text-center">
            <p>Select the Model </p>
              <a [routerLink]="['/dashboard/digitalmgmt']" class="text-center" style="color: green;" >Book Now</a>
         </div>
         <div *ngIf="changeBannerText4" class="text-center"> 
          <a [routerLink]="['/dashboard/digitalmgmt']" class="text-center">
            <img  class="img-center" src="../../../assets/images/Creative shoot booking.jpg">
            <span>&nbsp;</span>
            <label>Creative Shoot</label>
          </a>
        </div>
         
          </div>
          <div class="col-md-1">
  
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
  
              </div>
          <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
          border-radius: 2px;" (mouseover)="changeBannerText5=false" (mouseout)="changeBannerText5=true">
          <div *ngIf="!changeBannerText5" class="text-center">
            <p>Select the Model </p>
              <a [routerLink]="['/dashboard/marketingservices']" class="text-center" style="color: green;" >Book Now</a>
         </div>
         <div *ngIf="changeBannerText5" class="text-center"> 
          <a [routerLink]="['/dashboard/marketingservices']" class="text-center">
            <img class="img-center" src="../../../assets/images/Image Editing booking.jpg">
            <span>&nbsp;</span>
            <label> Image Editing</label>
          </a>
        </div>
         
          </div>
          <div class="col-md-1">
  
          </div>
         
          
        </div>
    </div>
    <div class="col-md-4 border-right" style="min-height: 301px;">
      <h4 class="text-center">Digital Business Services</h4>
      <p class="text-center">Sample text</p>
      <div class="row">
          <div class="col-md-1">

            </div>
        <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
        border-radius: 2px;" (mouseover)="changeText=false" (mouseout)="changeText=true">
        <div *ngIf="!changeText" class="text-center">
          <p>Select the Model </p>
            <a [routerLink]="['/dashboard/registrationSetup']" class="text-center" style="color: green;" >Book Now</a>
       </div>
        <div *ngIf="changeText" class="text-center"> 
            <a [routerLink]="['/dashboard/registrationSetup']" class="text-center" >
              <img class="img-center" src="../../../assets/images/registrations.jpg">
              <span>&nbsp;</span>
              <label> Registration & SetUp</label>
            </a>
          </div>
      
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
        border-radius: 2px;" (mouseover)="changeText1=false" (mouseout)="changeText1=true">
        <div *ngIf="!changeText1" class="text-center">
          <p>Select the Model </p>
            <a [routerLink]="['/dashboard/cataloging']" class="text-center" style="color: green;" >Book Now</a>
       </div>
       <div *ngIf="changeText1" class="text-center"> 
        <a [routerLink]="['/dashboard/cataloging']" class="text-center">
          <img  class="img-center" src="../../../assets/images/catlog & listing booking.jpg">
          <span>&nbsp;</span>
          <label> Cataloging / Listing</label>
        </a>
      </div>
        
        </div>
        <div class="col-md-1">

          </div>
      </div>
      <div class="row">
          <div class="col-md-1">

            </div>
        <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
        border-radius: 2px;" (mouseover)="changeText2=false" (mouseout)="changeText2=true">
        <div *ngIf="!changeText2" class="text-center">
          <p>Select the Model </p>
            <a [routerLink]="['/dashboard/aplus']" class="text-center" style="color: green;" >Book Now</a>
       </div>
       <div *ngIf="changeText2" class="text-center"> 
        <a [routerLink]="['/dashboard/aplus']" class="text-center">
          <img class="img-center" src="../../../assets/images/a+ catlog.jpg">
          <span>&nbsp;</span>
          <label> A+ Cataloging</label>
        </a>
      </div>
       
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
        border-radius: 2px;" (mouseover)="changeText3=false" (mouseout)="changeText3=true">
        <div *ngIf="!changeText3" class="text-center">
          <p>Select the Model </p>
            <a [routerLink]="['/dashboard/digitalmgmt']" class="text-center" style="color: green;" >Book Now</a>
       </div>
       <div *ngIf="changeText3" class="text-center"> 
        <a [routerLink]="['/dashboard/digitalmgmt']" class="text-center">
          <img  class="img-center" src="../../../assets/images/digital buisness.jpg">
          <span>&nbsp;</span>
          <label> Account Management</label>
        </a>
      </div>
       
        </div>
        <div class="col-md-1">

          </div>
      </div>
      <div class="row">
          <div class="col-md-1">

            </div>
        <div class="col-md-4 col-sm-12 shadow-lg p-3 mb-5 bg-white rounded" style="height: 120px;
        border-radius: 2px;" (mouseover)="changeText4=false" (mouseout)="changeText4=true">
        <div *ngIf="!changeText4" class="text-center">
          <p>Select the Model </p>
            <a [routerLink]="['/dashboard/marketingservices']" class="text-center" style="color: green;" >Book Now</a>
       </div>
       <div *ngIf="changeText4" class="text-center"> 
        <a [routerLink]="['/dashboard/marketingservices']" class="text-center">
          <img class="img-center" src="../../../assets/images/marketing & service booking.jpg">
          <span>&nbsp;</span>
          <label> Marketing Services</label>
        </a>
      </div>
       
        </div>
        <div class="col-md-1">

        </div>
       
        
      </div>
    </div>
    <div class="col-md-4 border-right" style="min-height: 301px;">
        <h4 class="text-center"> IT-Services</h4>
     <!--  <div class="row">
        
      </div> -->
    

    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
          <img class="img-fluid" src="../../../assets/images/partner.jpg">
        </div>
    </div>
  <div class="row">
    <div class="col-md-12 homeImage text-center ">
      <h1 class="homeImage border-top border-bottom">Services</h1>
    </div>
    <div class="col-md-3 homeImage">
      <a [routerLink]="['/dashboard/models']">
        <mat-card class="example-card bookingImages">
          <mat-card-header>
            <div mat-card-avatar></div>
          </mat-card-header>
          <mat-card-content>
            <h5 class="text-center title">
              <a>Studio & Production</a>
            </h5>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-3 homeImage services-card">
      <a [routerLink]="['/dashboard/booking']">
        <mat-card class="example-card bookingImages">
          <mat-card-header>
            <div mat-card-avatar></div>
          </mat-card-header>
          <mat-card-content>
            <h5 class="text-center title">
              <a>Marketing Service</a>
            </h5>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-3 homeImage">
      <a [routerLink]="['/dashboard/editing']">
        <mat-card class="example-card bookingImages">
          <mat-card-header>
            <div mat-card-avatar></div>
          </mat-card-header>
          <mat-card-content>
            <h5 class="text-center title">
              <a>Digital Marketing</a>
            </h5>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-3 homeImage">
      <a [routerLink]="['/dashboard/creative']">
        <mat-card class="example-card bookingImages">
          <mat-card-header>
            <div mat-card-avatar></div>
          </mat-card-header>
          <mat-card-content>
            <h5 class="text-center title">
              <a>Digital Management</a>
            </h5>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 homeImage">
      <a [routerLink]="['/dashboard/cataloging']">
        <mat-card class="example-card bookingImages">
          <mat-card-header>
            <div mat-card-avatar></div>
          </mat-card-header>
          <mat-card-content>
            <h5 class="text-center title">
              <a>Commerce & Creative Production</a>
            </h5>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-3 homeImage">
      <a [routerLink]="['/dashboard/registrationSetup']">
        <mat-card class="example-card bookingImages">
          <mat-card-header>
            <div mat-card-avatar></div>
          </mat-card-header>
          <mat-card-content>
            <h5 class="text-center title">
              <a>Catalog & Registration</a>
            </h5>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
    <div class="col-md-3 homeImage pointer">
      <a [routerLink]="['/dashboard/marketingservices']">
        <mat-card class="example-card bookingImages">
          <mat-card-header>
            <div mat-card-avatar></div>
          </mat-card-header>
          <mat-card-content>
            <h5 class="text-center title">
              <a>Social Media Advertisement</a>
            </h5>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

    <div class="col-md-3 homeImage pointer">
      <a (click)="getStatus()">
        <mat-card class="example-card bookingImages">
          <mat-card-header>
            <div mat-card-avatar></div>
          </mat-card-header>
          <mat-card-content>
            <h5 class="text-center title">
              <a>Market Place & Social Media</a>
            </h5>
          </mat-card-content>
        </mat-card>
      </a>
    </div>

  </div>
  <div class="row">

    <div class="col-md-12  text-center ">
      <h1 class="homeImage border-top border-bottom">How it Works</h1>
    </div>
    <div class="col-md-4" style="min-height: 150px;">
        <img  class="img-center" src="../../../assets/images/icon 1.jpg">
        <p class="text-center">text</p>
    </div>
    <div class="col-md-4" style="min-height: 150px;">
        <img  class="img-center" src="../../../assets/images/icon 2.jpg">
        <p class="text-center">text</p>
       
        
     
    </div>
    <div class="col-md-4" style="min-height: 150px;">
        <img  class="img-center" src="../../../assets/images/icon 3.jpg">
      <p class="text-center">text</p>

    </div>

  </div>
  <!-- <div class="row">
    <div class="col-md-12  text-center ">
      <h1 class="homeImage border-top border-bottom">Client</h1>
    </div>
    <div class="col-md-6">
      <img class="client" src="../../../assets/images/flf.png">
      <img class="client" src="../../../assets/images/arvind.png">
      <img class="client" src="../../../assets/images/tcs.png">
      <img class="client" src="../../../assets/images/flf.png">
      <img class="client" src="../../../assets/images/arvind.png">
      <img class="client" src="../../../assets/images/tcs.png">
      <img class="client" src="../../../assets/images/arvind.png">
      <img class="client" src="../../../assets/images/tcs.png">
    </div>

    <div class="col-md-6">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad temporibus deserunt et? Possimus nihil temporibus
      repudiandae. Accusantium distinctio molestiae quibusdam inventore suscipit, consequatur quas repudiandae autem
      laudantium hic aperiam nulla.
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-12  text-center ">
      <h1 class="homeImage border-top border-bottom">Partners</h1>
    </div>
    <div class="col-md-6 ">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia iste, minima est dolor itaque minus rem
      placeat illo ipsum autem dicta quam voluptatem culpa animi? Ea aliquam perferendis molestias distinctio.
    </div>

    <div class="col-md-6 ">
      <img class="partners" src="../../../assets/images/amazon.png">
      <img class="partners" src="../../../assets/images/flipkart.png">
      <img class="partners" src="../../../assets/images/paytm.jpg">
      <img class="partners" src="../../../assets/images/flipkart.png">
      <img class="partners" src="../../../assets/images/paytm.jpg">
      <img class="partners" src="../../../assets/images/flipkart.png">
      <img class="partners" src="../../../assets/images/paytm.jpg">
      <img class="partners" src="../../../assets/images/flipkart.png">
    </div>
  </div> -->
</div>