@media only screen and (max-width: 767px) {
    /* Add your Mobile Styles here */
    .div{
        padding: 0px;
        }
    }
    .example-header-image-left {
        background-image: url('../../../assets/images/model.jpg');
        background-size: cover;
        width: 110px;
        height:110px;
        border-radius: 0px;
        margin:auto;
        background-position: center; 
      }
      .example-header1-image-left {
        background-image: url('../../../assets/images/Listing.png');
        background-size: cover;
        width: 110px;
        height:110px;
        border-radius: 0px;
        margin:auto;
        background-position: center; 
      }
      .example-header-image-center {
        background-image: url('../../../assets/images/Shoot.jpg');
        background-size: cover;
        width: 110px;
        height:110px;
        border-radius: 0px;
        margin:auto;
        background-position: center; 
      }
      .example-header1-image-center {
        background-image: url('../../../assets/images/registration.jpg');
        background-size: cover;
        width: 110px;
        height:110px;
        border-radius: 0px;
        margin:auto;
        background-position: center; 
      }
      .example-header-image-right {
        background-image: url('../../../assets/images/Status.jpg');
        background-size: cover;
        width: 110px;
        height:110px;
        border-radius: 0px;
        margin:auto;
        background-position: center; 
      }
      .example-header1-image-right {
        background-image: url('../../../assets/images/marketing.png');
        background-size: cover;
        width: 110px;
        height:110px;
        border-radius: 0px;
        margin:auto;
        background-position: center; 
      }
      .title
      {
        color: #2f44b1;
        padding:10px;
        margin:0px;
        font-size: 1.5em;
      }
      .subTitle
      {
        padding-right:18px;
        padding-left:18px;
        text-align: center;
      }
      .mat-card
      {
        background: #f8f9fa;
      }
      h5 a:hover
      {
         border-bottom: 1px solid #2f44b1;
      }
      .pointer {
          cursor: pointer;
        }
        .banner
{
    padding:0px;
}
.carousel-images{
  color:black
}
.glyphicon.glyphicon-chevron-right{
  color:red;
}
.partners{
  height:100px; 
   padding-right: 40px;
}
.client{
  height:100px; 
  padding-right: 40px
}