<form style="padding-top:2%">
  <div class="container-fluid">
  <!--   <div class="row d-md-none d-lg-none" 
    *ngFor="let data of ourWorkModel">
      <div class="col-sm-12">
        <mat-form-field>
          <mat-select [(value)]="" (selectionChange)="onSelectSub($event.value)">
            <mat-option *ngFor="let test of data.mainCategory" [value]="test">
              {{test.mainCategoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div> -->
    <div *ngFor="let data of ourWorkModel">
      <div class="navbar rowStyle navbar-expand-lg">
        <ul class="navbar-nav  mr-auto">
          <li class="nav-item" *ngFor="let test of data.mainCategory" [class.selSubMenu]="test === selectedSubMenu"
            (click)="onSelectSub(test)">
            <a class="nav-link text-center">{{test.mainCategoryName}}</a>
          </li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12" *ngFor="let mainImage of ourWorKModelView?.category">
          <div class="gridRow">
            <a (click)="totalViewImage(data, mainImage._id)">
              <img class="img-fluid" [src]="this.imageUrl+ '/'+ data.categoryName +'/'+ this.ourWorKModelView.mainCategoryName +'/'+ mainImage.categoryName +'/'+ 'prime/' + mainImage.primeImage"></a>
          </div>
          <h6 class="textTopHeader">{{mainImage.categoryName}}</h6>
        </div>
      </div>
    </div>
  </div>
</form>