<form [formGroup]="itServicesBookingForm" novalidate style="padding-bottom:60px">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 mx-auto bookingMasterDiv">
        <div class="container">
          <h5 class="textTopHeader">IT SERVICES BOOKING</h5>
        </div>

        <div class="col-md-12 mx-auto ">
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mobile Number" maxlength="10" [(ngModel)]="mobileNo" formControlName="mobileNumber"
                type="phone" required>
              <button mat-button matSuffix mat-icon-button aria-label="Mobile Number">
                <mat-icon>phone</mat-icon>
              </button>
              <mat-hint color="primary">Ex: 9988776655</mat-hint>
              <mat-error *ngIf="itServicesBookingForm.controls['mobileNumber'].errors?.required">
                Mobile Number is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="!itServicesBookingForm.controls['mobileNumber'].errors?.required">
                Enter valid mobile Number is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" [(ngModel)]="userName" maxlength="20" formControlName="name" type="text"
                [required]="false">
              <button mat-button matSuffix mat-icon-button aria-label="Name">
                <mat-icon>account_circle</mat-icon>
              </button>
              <mat-error *ngIf="itServicesBookingForm.controls['name'].errors?.required">
                Name is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email Id" [(ngModel)]="email"  formControlName="emailId" type="text"
                #mailId [required]="false">
              <button mat-button matSuffix mat-icon-button aria-label="Name">
                <mat-icon>account_circle</mat-icon>
              </button>
              <mat-error *ngIf="itServicesBookingForm.controls['emailId'].errors?.required">
                EmailId is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Location" maxlength="20" [(ngModel)]="locat" style="margin-bottom:5px"
                formControlName="location" type="text" [required]="false">
              <button mat-button matSuffix mat-icon-button aria-label="Name">
                <mat-icon>location_on</mat-icon>
              </button>
              <mat-error *ngIf="itServicesBookingForm.controls['location'].errors?.required">
                Location is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>


    <div class="row">
      <div class="col-md-6 mx-auto bookingMasterDiv">
      <div class="text-secondary" style="padding-top:10px"><h6>Services</h6></div>
        <div class="row">
          <div class="form-group  col-md-6 mx-auto" *ngFor="let marketing of itServices">
            <input type="checkbox" formControlName="marketing" [value]="marketing" (change)="getValue(itServicesBookingForm,marketing,$event.target.checked)">
            {{marketing}}
          </div>
          <div class="col-md-12 mx-auto">
              <input class="btn booking btn-block text-white" value="Book Now" type="submit" (click)="itServicesBookingForm.valid  && booking(itServicesBookingForm)">
            </div>
        </div>
      </div>
    </div>
  </div>

</form>
