@media screen and (max-width: 600px) {
    .bookingMasterDiv {
      width: 90%;
      background: white;
      padding-bottom: 10px;
      margin: 20px auto;
      position: relative;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  
  @media screen and (min-width: 992px) {
    .bookingMasterDiv {
      width: 70%;
      background: white;
      padding-bottom: 10px;
      margin: 20px auto;
      position: relative;
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  
  .mat-form-field-appearance-legacy .mat-hint {
    color: red;
  }
  
  .mat-form-field-appearance-outline .mat-hint {
    color: red;
  }
  
  .mat-form-field {
    display: block;
    position: relative;
    text-align: left;
  }
  
  .pageBoxLg-label {
    position: absolute;
    top: -10px;
    left: 10px;
    background: white;
    padding: 0px 5px;
    transition: padding 3s;
    -moz-transition: padding 3s;
    -webkit-transition: padding 3s;
  }
  @media screen and (max-width: 992px) {
    .image{
        height:330px;
        width: 330px;
        margin: auto;
        margin-bottom: 2%;   
    }
        .newBar
        {
            display:none;
        }
  }
  
  @media screen and (min-width: 992px) {
    .image{
        height:400px;
        width: 400px;
        margin: auto;
    }
  
  }
  .navbar-nav
  {
    flex-direction: row;
    background-color: #EEEEEE;
    padding:0px;
  }
  .navbar-nav li
  {
    padding-right:5px;
    padding-left:5px;
  
  }
  .registered{
    margin-left: 28%;
    font-family: initial;
    
  }