<div class="container" style="margin-top: 60px; margin-bottom: 250px;">
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px;">
      <p class="heading">Ecommerce Photography Pricing </p>
      <div class="col-md-12 ">
        <p class="sub-heading">Men & Women Model Shoot</p>
        <table class="table table-bordered table-hover" style="margin-top: 20px;padding-left: 30px;">
          <thead>
            <tr>
              <th scope="col">Services (Including Editing)</th>
              <th scope="col">National</th>
              <th scope="col">International</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Top Wear</td>
              <td> ₹200 - ₹250</td>
              <td>₹350</td>
            </tr>
            <tr>
              <td>Bottom wear</td>
              <td>₹200 - ₹250 </td>
              <td>₹350</td>
            </tr>
            <tr>
              <td> Indian & Festive wear</td>
              <td>₹250 - ₹280</td>
              <td>₹400</td>
            </tr>
            <tr>
              <td> Clothing Accessories</td>
              <td>₹200 - ₹250</td>
              <td> ₹350</td>
            </tr>
            <tr>
              <td> Sports wear</td>
              <td>₹200 - ₹280</td>
              <td>₹400</td>
            </tr>
            <tr>
              <td> Innerwear & Sleepwear</td>
              <td>₹800 - ₹1000</td>
              <td> ₹700 – ₹1000</td>
            </tr>
            <tr>
              <td> Western wear</td>
              <td>₹200 - ₹280</td>
              <td> ₹350</td>
            </tr>
            <tr>
              <td> Sarees</td>
              <td>₹300 - ₹450</td>
              <td> ₹550 - ₹700</td>
            </tr>
            <tr>
              <td> Lingerie & Sleepwear</td>
              <td>₹800 - ₹1000</td>
              <td> ₹1500</td>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="col-md-12 ">
        <p class="sub-heading">Products Shoot</p>
        <table class="table table-bordered table-hover" style="margin-top: 20px;padding-left: 30px;">
          <thead>
            <tr>
              <th scope="col">Services (Including Editing)</th>
              <th scope="col">Price for 3 Angles of Images</th>
              <th scope="col">Price for 5 Angles of Images</th>
              <th scope="col">Additional Angles of Images</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Jewellery</td>
              <td> ₹100</td>
              <td>NA</td>
              <td>₹15</td>
            </tr>
            <tr>
              <td>Footwear</td>
              <td>₹80 </td>
              <td>₹100</td>
              <td>₹15</td>
            </tr>
            <tr>
              <td> Bags (Backpacks, Hand Bags, Wallets)</td>
              <td>₹80</td>
              <td>₹100</td>
              <td>₹15</td>
            </tr>
            <tr>
              <td> Sunglasseses</td>
              <td>₹80</td>
              <td>₹100</td>
              <td>₹15</td>
            </tr>
            <tr>
              <td>
                Computer & Mobile Accessories</td>
              <td>₹70</td>
              <td>₹100</td>
              <td>₹10</td>
            </tr>
            <tr>
              <td> Beauty & Health Care</td>
              <td>₹70</td>
              <td>₹100</td>
              <td>₹10</td>
            </tr>
            <tr>
              <td> Books</td>
              <td>₹70</td>
              <td> ₹100</td>
              <td>₹10</td>
            </tr>
            <tr>
              <td> Home Decor Products</td>
              <td>NA</td>
              <td> ₹100 - ₹250</td>
              <td>₹15</td>
            </tr>
            <tr>
              <td> Mannequin</td>
              <td>₹100-₹150</td>
              <td> NA</td>
              <td>NA</td>
            </tr>
            <tr>
              <td> Musical Instruments</td>
              <td>NA</td>
              <td> ₹100 - ₹250</td>
              <td>₹15</td>
            </tr>
            <tr>
              <td> Kitchen Needs</td>
              <td>NA</td>
              <td> ₹100 - ₹250</td>
              <td>₹15</td>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 ">
        <p class="sub-heading">Kid’s Photoshoot Section</p>
        <table class="table table-bordered table-hover" style="margin-top: 20px;padding-left: 30px;">
          <thead>
            <tr>
              <th scope="col">Services (Including Editing)</th>
              <th scope="col">National</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Boy & Girl Products</td>
              <td> ₹250 - ₹300</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12 ">
        <p class="sub-heading">Ecommerce Video Shoot</p>
        <table class="table table-bordered table-hover" style="margin-top: 20px;padding-left: 30px;">
          <thead>
            <tr>
              <th scope="col">Services (Including Editing)</th>
              <th scope="col">National</th>
              <th scope="col">International</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Men’s Wear</td>
              <td> ₹400</td>
              <td> ₹500</td>
            </tr>
            <tr>
              <td> Women’s Wear</td>
              <td> ₹400</td>
              <td> ₹500</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12 ">
        <p class="sub-heading">Other Video Shoot</p>
        <table class="table table-bordered table-hover" style="margin-top: 20px;padding-left: 30px;">
          <thead>
            <tr>
              <th scope="col">Shoot type</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Product Video Shoot</td>
              <td> ₹300</td>
            </tr>
            <tr>
              <td>Brand Video Shoot</td>
              <td> ₹8000</td>
            </tr>
            <tr>
              <td>Creative Video Shoot</td>
              <td> ₹5000</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 ">
        <p class="sub-heading">Client Location Shoot</p>
        <table class="table table-bordered table-hover" style="margin-top: 20px;padding-left: 30px;">
          <thead>
            <tr>
              <th scope="col">Services (Including Editing)</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> Photographer with Complete Equipment</td>
              <td> ₹8000
                (Photographer, Canon 5d with Elinchrom lights(2))</td>
            </tr>
            <tr>
              <td>Photographer Travel & Food Cost</td>
              <td> At Actual</td>
            </tr>
            <tr>
              <td>Post Production Cost per Image</td>
              <td> ₹5</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 ">
        <p class="sub-heading">Editing Service</p>
        <table class="table table-bordered table-hover" style="margin-top: 20px;padding-left: 30px;">
          <thead>
            <tr>
              <th scope="col">Services (Including Editing)</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> White background Editing</td>
              <td> ₹10
                (Image Cropping and Background removal)</td>
            </tr>
            <tr>
              <td>White background Editing for Jewellery’s</td>
              <td> ₹15 - ₹50
                (Image Cropping and Background removal)</td>
            </tr>
            <tr>
              <td>Background Editing</td>
              <td> ₹50
                (Background setting, Color Enhancement)</td>
            </tr>
            <tr>
              <td>Creative Background Editing</td>
              <td> ₹100 - ₹500
                (Background image creation)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div><br>

</div>