<!-- 

<div class="container-fluid banner">
  
<carousel [showIndicators]="showIndicator">
  <slide>
    <img src="./../../assets/images/1.jpg" class="img-responsive" alt="first slide" style="display: block; width: 100%; height:256px;">
  </slide>
  <slide>
    <img src="./../../assets/images/2.jpg" class="img-responsive" alt="second slide" style="display: block; width: 100%; height:256px">
  </slide>
  <slide>
    <img src="./../../assets/images/3.jpg" class="img-responsive" alt="third slide" style="display: block; width: 100%; height:256px;">
  </slide>
</carousel>

</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <owl-carousel [options]="myCarouselOptions" [items]="images">
        <div class="sliderImage" *ngFor="let image of fullImages;let i = index">
          <img src={{image}} />
        </div>
      </owl-carousel>
    </div>
  </div>
</div>