<!-- 

<div class="container-fluid banner">
  
<carousel [showIndicators]="showIndicator">
  <slide>
    <img src="./../../assets/images/1.jpg" class="img-responsive" alt="first slide" style="display: block; width: 100%; height:256px;">
  </slide>
  <slide>
    <img src="./../../assets/images/2.jpg" class="img-responsive" alt="second slide" style="display: block; width: 100%; height:256px">
  </slide>
  <slide>
    <img src="./../../assets/images/3.jpg" class="img-responsive" alt="third slide" style="display: block; width: 100%; height:256px;">
  </slide>
</carousel>

</div> -->
