<nav class="navbar navbar-expand-lg  border-bottom border-dark">
  <a [routerLink]="['/welcome']" class="navbar-brand">
    <img src="../../../assets/images/logo.jpg"><img src="../../../assets/images/logoheader.png">
  </a>
  <button class="navbar-toggler" type="button" (click)="collapseMenu()">
    <span class=""><i class="fa fa-navicon"></i></span>
  </button>
  <div id="navbarNavDropdown" class="navbar-collapse collapse sidebar" [ngClass]="toggleBar">
    <ul class="navbar-nav mr-auto">

    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/subscribe']" (click)="collapseMenu()">Subscribe</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/studio']" (click)="collapseMenu()">Services</a>
      </li>
      <li class="nav-item">
          <div class="dropdown">
              <a class="nav-link">Our Work</a>
              <div class="dropdown-content">
                <a [routerLink]="['/portfolio']">Ecommerce PortFolio </a>
                <a [routerLink]="['/creativeportfolio']">Creative PortFolio</a>
                <a [routerLink]="['/videoportfolio']">Video PortFolio </a>
                <a [routerLink]="['/portfolio']">MarketPlace</a>
                <a [routerLink]="['/digitalmarketingportfolio']">Digital Marketing & Services</a>
                <a [routerLink]="['/itportfolio']">IT Services </a>
              </div>
            </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/pricing']" (click)="collapseMenu()">Pricing</a>
      </li>
     
      <li class="nav-item">
          <div class="dropdown">
              <a class="nav-link">Booking</a>
              <div class="dropdown-content">
                <a [routerLink]="['/models']">Model Shoot </a>
                <a [routerLink]="['/booking']">Product Shoot</a>
                <a [routerLink]="['/editing']">Image Editing</a>
                <a [routerLink]="['/creative']">Creative Shoot</a>
                <a [routerLink]="['/cataloging']">Cataloging / Listing</a>
                <a [routerLink]="['/registrationSetup']">Registration & Setup</a>
                <a [routerLink]="['/marketingservices']">Marketing Services</a>
                <a [routerLink]="['/aplus']">A+ Cataloging</a>
                <a [routerLink]="['/itservices']">IT-Services</a>
                <a [routerLink]="['/digitalmgmt']">Digital-Business-Management</a>
              </div>
            </div>
      </li>
      <li class="nav-item">
          <div class="dropdown">
              <a class="nav-link">Booking Status</a>
              <div class="dropdown-content">
                <a (click)="getActive()">Active Booking </a>
                <a [routerLink]="['/completed']">Completed Order</a>
                <a [routerLink]="['/cancelled']">Cancelled Booking</a>
                <a [routerLink]="['/bookingstatus']">All Booking</a>
              </div>
            </div>
          </li>
         <!--  <li class="nav-item">
                <a class="nav-link" [routerLink]="['/pricing']" (click)="collapseMenu()">Market Place</a>
              </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/contact']" (click)="collapseMenu()">Contact</a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  (click)="collapseMenu()">Blog</a>
      </li>
    </ul>
  </div>
</nav>