<div class="container" style="margin-top: 60px; margin-bottom: 250px;">
  <div class="row">
    <div class="col-md-12" style="padding-bottom:20px;">
      <div class="col-md-12 ">
        <p class="heading">IT SERVICES </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe vitae consequatur laboriosam
          explicabo enim dicta sint dolor totam reiciendis, voluptatum, ipsa deserunt animi iusto culpa similique
          possimus adipisci. Et?</p>
      </div>
      <div class="col-md-12 ">
        <ul>
          <!--   <li class="nav-item  sub-heading menu">
                  <a class="nav-link" (click)="showWebsite()">ALL</a>
                </li> -->
          <li class="nav-item  sub-heading menu">
            <a class="nav-link" (click)="showWebsite()">WEBSITE</a>
          </li>
          <li class="nav-item  sub-heading menu">
            <a class="nav-link" (click)="showApplication()">APPLICATION</a>
          </li>
          <li class="nav-item  sub-heading menu">
            <a class="nav-link" (click)="showHosting()">HOSTING SERVICES</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 ">
        <div class="row">
          <div class="col-md-4 ">
          WEBSITE
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus voluptas illo iste odio cum maxime ipsum corrupti quaerat beatae tempora necessitatibus voluptatem porro pariatur nesciunt voluptates deleniti fugiat, molestias laboriosam.</p>
          </div>
          <div class="col-md-8 ">
              <carousel class="carousel-images" [showIndicators]="false" style="height:150px;">
                  <slide>
                    <img class="banners" src="../../../assets/images/Banner-1.jpg" alt="first slide" width="100%">
                  </slide>
                  <slide>
                    <img class="banners" src="../../../assets/images/Banner-2.jpg" alt="second slide" width="100%">
                  </slide>
                  <slide>
                    <img class="banners" src="../../../assets/images/Banner-3.jpg" alt="third slide" width="100%">
                  </slide>
                </carousel>
          </div>
        </div>

      </div>
    </div>

  </div><br>

</div>