html,
body {
  font-family: "Gotham SSm",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 1.42857;
    color: #222;
    background-color: #fff;
}
.booking {
    width: 100%;
    background-color: #777;
    margin: 0px auto;
  }
  .homeImage
  {
    padding:5px;
  }
  .booking:hover {
    width: 100%;
    background-color: #777;
    margin: 0px auto;
  }
  .navbar-nav li
  {
    padding-right:15px;
    padding-left:15px;
  }
  .navbar-nav li a
  {
    color: #777;
  }
  .navbar-brand
  {
    font-size:25px;
  }
  a:hover
  {
    color:green;
    text-decoration: none;
  }
  a
  {
    color:black;;
  }
  .studio
  {
    width: 100%;
    background-color: #777;
    margin: 0px auto;
  }
  @media screen and (max-width: 900px) { /*Small */
    .status {
      font-size:10px;
    }
}
/* booking types */
