<div class="container">
    <div class="row">
          <!-- <div class="col-md-4" style="margin-top:2px;">
            
                <a [routerLink]="['/studio']"><h6 class ="text-center border border-secondary"  style="padding-top:80px; padding-bottom:80px;"><br>Studio and Production</h6></a>
              
          </div>
           --><div class="col-md-6 col-sm-6 mx-auto text-center" style="margin-top:2px;">
              <h6 class ="text-center border border-secondary" style="padding-top:80px; padding-bottom:80px; padding-right:20px; padding-left:20px;"><br><button   [routerLink]="['/booking']" class="btn booking text-white" value="" type="submit">Booking Status</button></h6>
          </div>
          <!-- <div class="col-md-4" style="margin-top:2px;">
              <a>
              <h6 class ="text-center border border-secondary" style="padding-top:80px; padding-bottom:80px;"><br>Branding and Marketing
          </h6>  </a>
    </div> -->
</div>
</div>