<div class="container-fluid">
    <div class="row">
          <div class="col-md-4" style="margin-top:2px;">
            
            <h6 class ="text-center border border-secondary" style="padding-top:60px; padding-bottom:60px;"><i class="fa fa-video-camera fa-2x" style="padding-bottom:10px;" aria-hidden="true"></i><br>Studio and Production</h6>
              
          </div>
          <div class="col-md-4" style="margin-top:2px;">
              <a><h6 class ="text-center border border-secondary" style="padding-top:60px; padding-bottom:60px;"><i class="fa fa-signal fa-2x" style="padding-bottom:10px;" aria-hidden="true"></i><br>Online and IT Services</h6></a>
          </div>
          <div class="col-md-4" style="margin-top:2px;">
              <a>
              <h6 class ="text-center border border-secondary" style="padding-top:60px; padding-bottom:60px;"><i class="fa fa-exclamation-triangle fa-2x" style="padding-bottom:10px;" aria-hidden="true"></i><br>Branding and Marketing
          </h6>  </a>
    </div>
</div>
</div>