<form [formGroup]="statusViewForm" style="padding-top:80px; margin-bottom:300px;" novalidate>
    <div class="container">
      <div class="textContainer" *ngIf="!hideStatus">
        <select   #selectElem (change)="bookingType(selectElem.value)" style="width:250px" >
            <option disabled>---Select Booking type---</option>
              <option *ngFor="let data of filterOption">
                    {{data}}
             </option>
             <option>All</option>
        </select > 
    </div>
      <div class="text-center " style="padding-bottom:20px" *ngIf="!hideStatus">
        <h6><strong>LIST OF COMPLETED ORDER</strong></h6>
      </div>
      <input class="form-control" hidden  type="text" placeholder="Type the booking type" formControlName="filterText" [(ngModel)]="searchText" style="width:300px;" />
      <input class="form-control"  hidden  type="text" placeholder="Type the booking type" formControlName="test" [(ngModel)]="datacheck" style="width:300px;" />
      <div class="row">
        <div class=" col-sm-12 d-flex  flex-row" *ngIf="!hideStatus">
          <div class=" col-sm-3 col p-2 text-center border">
            <b>Booking ID</b>
          </div>
         
          <div class="col-sm-3 col p-2 text-center border">
            <b>Booking Date</b>
          </div>
          <div class=" col-sm-3 col p-2 text-center border">
            <b>Booking Type</b>
          </div>
          <div class="col-sm-3 col p-2 text-center border">
            <b>Status</b>
          </div>
         <!--  <div class="col-sm-2 col p-2 text-center border">
            <b>Track the Order</b>
          </div> -->
         
        </div>
      </div>
      <div *ngIf="!hideStatus">
        
        <div class=" col-sm-12 status d-flex border-bottom  flex-row" *ngFor="let data of dataSource | dataFilter:searchText ">
           
          <div class="col-sm-3 col p-2 ">{{data.bookingOrderId}}</div>
          <div class="col-sm-3  col p-2 text-center ">{{data.bookingDate}}</div>
          <div class="col-sm-3  col p-2 ">{{data.bookingType}}</div>
          <div class="col-sm-3  col p-2 text-center "><strong>{{data.bookingStatus}}</strong></div>
          <div class=" col-sm-3 col p-2 text-center ">
            <input class="form-control" hidden type="text" formControlName="order" [value]="data.bookingOrderId" #id/>
            <input class="form-control" hidden type="text" formControlName="bookingType" [value]="data.bookingType" #type/>
           <!--  <button class="btn btn-success btn-sm" (click)="statusView(statusViewForm,id.value,type.value)">View</button> -->
          </div>
        </div>
        <button style="margin:20px;" class="btn" [routerLink]="['/welcome']">back</button>
        <mat-paginator #paginator [pageSize]="pageSize" 
        [pageSizeOptions]="[5, 10, 20, 30, 40, 50]"
          [showFirstLastButtons]="true" 
          [length]="totalSize" 
          [pageIndex]="currentPage" (page)="handlePage($event)">
        </mat-paginator>
      </div>
      <div class="text-center " style="padding-bottom:20px" *ngIf="hideStatus">
          <h6><strong>BOOKING DETAILS</strong></h6>
        </div>
      <div class="row status"  *ngIf="hideStatus">
        <div class=" col-sm-12 d-flex  flex-row">
          <div class=" col-sm-4 col p-2 text-center border">
            <b>Booking ID</b>
          </div>
          <div class="col-sm-4 col text-center p-2 border">
            <b>Product</b>
          </div>
          <div class="col-sm-4 col text-center p-2 border">
            <b>Quantity</b>
          </div>
        </div>
      </div>
      <div *ngIf="hideStatus" >
          <div class=" col-sm-12 d-flex border-bottom flex-row" *ngFor="let data of Details">
            <div class="col-sm-4 col p-2  ">{{data.bookingOrderId}}</div>
            <div class="col-sm-4 col p-2 text-center">{{data.productDescription}}</div>
            <div class="col-sm-4 col p-2 text-center">{{data.quantityDescription}}</div>
          </div>
        </div>
  
  
      <div *ngIf="displayStatus" style="margin-top:40px">
          <div class="text-center" style="padding-bottom:20px" *ngIf="hideStatus">
              <h6><strong>ORDER LIFE CYCLE</strong></h6>
            </div>
        <div class="row">
          <div class="offset-md-2 col-md-4 col">
            <p> Material Pick Up Status</p>
          </div>
          <div class="col-md-6  col" *ngIf="materialPicked">
            <button class="btn btn-danger  btn-sm">Not completed</button>
          </div>
          <div class="col-md-6 col" *ngIf="materialPickedTrue">
            <button class="btn btn-success  btn-sm"> Completed</button>
          </div>
          <div class="col-md-6 col" *ngIf="materialPickedProgress">
            <button class="btn btn-info  btn-sm"> Progress</button>
          </div>
        </div>
  
        <div class="row">
          <div class="offset-md-2 col-md-4 col">
            <p>PhotoShoot Status</p>
          </div>
          <div class="col-md-6 col" *ngIf="shootCompleted">
            <button class="btn btn-danger btn-sm">Not completed</button>
          </div>
          <div class="col-md-6 col" *ngIf="shootCompletedTrue">
            <button class="btn btn-success btn-sm "> Completed</button>
          </div>
          <div class="col-md-6 col" *ngIf="shootCompletedProgress">
            <button class="btn btn-info btn-sm "> Progress</button>
          </div>
        </div>
  
        <div class="row">
          <div class="offset-md-2 col-md-4 col">
            <p>Image Editing Status</p>
          </div>
          <div class="col-md-6 col" *ngIf="imageEditing">
            <button class="btn btn-danger btn-sm ">Not completed</button>
          </div>
  
          <div class="col-md-6 col" *ngIf="imageEditingTrue">
            <button class="btn btn-success btn-sm"> Completed</button>
          </div>
          <div class="col-md-6 col" *ngIf="imageEditingProgress">
            <button class="btn btn-info btn-sm"> Progress</button>
          </div>
        </div>
  
        <div class="row">
          <div class="offset-md-2 col-md-4 col">
            <p>QC & Image Delivery Status</p>
          </div>
          <div class="col-md-6 col" *ngIf="delivery">
            <button class="btn btn-danger btn-sm">Not completed</button>
          </div>
  
          <div class="col-md-6 col" *ngIf="deliveryTrue">
            <button class="btn btn-success btn-sm"> Completed</button>
          </div>
          <div class="col-md-6 col" *ngIf="deliveryProgress">
            <button class="btn btn-info btn-sm"> Progress</button>
          </div>
        </div>
  
        <div class="row">
          <div class="offset-md-2 col-md-4 col">
            <p>Payment Status</p>
          </div>
          <div class="col-md-6 col" *ngIf="payment">
            <button class="btn btn-danger btn-sm">Not completed</button>
          </div>
  
          <div class="col-md-6 col" *ngIf="paymentTrue">
            <button class="btn btn-success btn-sm "> Completed</button>
          </div>
          <div class="col-md-6 col" *ngIf="paymentProgress">
            <button class="btn btn-info btn-sm"> Progress</button>
          </div>
        </div>
        
        <div class="row">
          <div class="offset-md-2 col-md-4 col">
            <p>Material Return Status</p>
          </div>
          <div class="col-md-6 col" *ngIf="materialReturn">
            <button class="btn btn-danger btn-sm">Not completed</button>
          </div>
  
          <div class="col-md-6 col" *ngIf="materialReturnTrue">
            <button class="btn btn-success btn-sm "> Completed</button>
          </div>
          <div class="col-md-6 col" *ngIf="materialReturnProgress">
            <button class="btn btn-info btn-sm"> Progress</button>
          </div>
        </div>
        <div class="row">
          <button  style="margin:20px;"class="btn" (click)="showStatus()">back</button>
        </div>
      </div>
      <div *ngIf="message" style="margin-top:40px">
        <div class="text-center" style="padding-bottom:20px" >
            <h6><strong>Update  you soon </strong></h6>
          </div>
          <div class="row">
            <button  style="margin:20px;"class="btn" (click)="showStatus()">back</button>
          </div>
          </div>
    </div>
  
  </form>